USE [Centurion]
GO
/****** Object:  StoredProcedure [dbo].[sp_nmc_AuthenticateMerchantID]    Script Date: 02/07/2008 10:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_nmc_AuthenticateMerchantID]
	@MerchantID int
	,@MerchantKey Uniqueidentifier
As

Select 
	lMerchant_ID
	,Merchant_Key
From dbo.tblMerchantMaster With (nolock)
Where 
	lMerchant_ID = @MerchantID
	And Merchant_Key = @MerchantKey
