<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="AchDB_Server"  value="dev_db2k"/>
		<add key="AchDB_Database"  value="ACH"/>
		<add key="AchDB_UserID"  value="IYeiXqhPMiM="/>
		<add key="AchDB_Password"  value="IYeiXqhPMiM="/>

		<add key="CenturionDB_Server"  value="dev_db2k"/>
		<add key="CenturionDB_Database"  value="Centurion"/>
		<add key="CenturionDB_UserID"  value="a+xlW8c6FEJjig4FTRWfDKXqcpRA7XeR"/>
		<add key="CenturionDB_Password"  value="C2gjFRxweDWxj9WjkDWuy/os6xt0eOeXpJEO8pGU7qU="/>

		
		
		<!-- Dev 
		<add key="AchDB" value="Data Source=dev_db2k;Initial Catalog=ACH;User ID=app_ach;password=app_ach;" />
		<add key="MainDB" value="Data Source=dev_db2k;Initial Catalog=Centurion;User ID=app_core_services;password=theultimatedrivingmachine;" />
		-->
		
		<!-- Prod
		<add key ="AchDB_Server" value="sql"/>
		<add key ="AchDB_Database" value="ACH"/>
		<add key ="AchDB_UserID" value="IYeiXqhPMiM="/>
		<add key ="AchDB_Password" value="Ao/xMimROGrd7EpLf/kTFw=="/>

		<add key ="CenturionDB_Server" value="sql"/>
		<add key ="CenturionDB_Database" value="Centurion"/>
		<add key ="CenturionDB_UserID" value="a+xlW8c6FEJjig4FTRWfDKXqcpRA7XeR"/>
		<add key ="CenturionDB_Password" value="C2gjFRxweDWxj9WjkDWuy/os6xt0eOeXpJEO8pGU7qU="/>
			  
			  -->
	</appSettings>

	<!-- Trace 
<system.diagnostics>
	<switches>
		<add name="Error" value="1" />
		<add name="Warning" value="1" />
		<add name="Debug" value="1" />
		<add name="Info" value="0" />
	</switches>
	<trace autoflush="true" indentsize="0">
		<listeners>
			<remove name="Default" />
			<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener,System" initializeData="<app root directory>\AchWS.log" />
		</listeners>
	</trace>
</system.diagnostics>

-->
<connectionStrings/>
	
	<system.web>
		
		
  <webServices>
			<protocols>
				<add name="HttpSoap" />
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
