<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<connectionStrings>
		<add name="AchSystem.Properties.Settings.MerchantCentralConnectionString" connectionString="Data Source=(local);Initial Catalog=MerchantCentral;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AchSystem.Properties.Settings.ACHConnectionString" connectionString="Data Source=sql;Initial Catalog=ACH;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AchSystem.Properties.Settings.ACHConnectionString1" connectionString="Data Source=DESKTOP39\SQL2000;Initial Catalog=ACH;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AchSystem.Properties.Settings.ACHConnectionString2" connectionString="Data Source=DEV_DB2K;Initial Catalog=ACH;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AchSystem.Properties.Settings.AchConnectionString3" connectionString="Data Source=(local);Initial Catalog=Ach;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AchSystem.Properties.Settings.AchConnectionString4" connectionString="Data Source=AGLISTPXPSQLP.prod.paysafe.com;Initial Catalog=Ach;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>

		<!-- Production -->
		<!--New SQL Account-->
		<!--
		<add key="AchDB_Server" value="AGListPXPSQLP.prod.paysafe.com" />
		<add key="AchDB_Database" value="ACH" />
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="AchDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A==" />
		<add key="AchDB_Attributes" value=""/>
		<add key="MerchantDB_Server" value="AGLISTPXPSQLP.prod.paysafe.com"/>
		<add key="MerchantDB_Database" value="PrimusPayments" />
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="MerchantDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A==" />
		<add key="MerchantDB_Attributes" value=""/>
		<add key="RawDataDB_Server" value="AGListPXPRPT.prod.paysafe.com" />
		<add key="RawDataDB_Database" value="RawData" />
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="RawDataDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A==" />
		<add key="TransDB_Server" value="AGLISTPXPSQLP.prod.paysafe.com"/>
		<add key="TransDB_Database" value="TransDB" />
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="TransDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A==" />
		-->
		
		<!--New DEV Environment-->
		<!--NEw SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_D" />
		<add key="AchDB_Database" value="ACH" />
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="AchDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW" />
		<add key="AchDB_Attributes" value="" />
		<add key="MerchantDB_Server" value="AGListPXPSQLP_D" />
		<add key="MerchantDB_Database" value="PrimusPayments" />
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="MerchantDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW" />
		<add key="RawDataDB_Server" value="AGListPXPRPT_D" />
		<add key="RawDataDB_Database" value="RawData" />
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="RawDataDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW" />
		<add key="TransDB_Server" value="AGListPXPSQLP_D" />
		<add key="TransDB_Database" value="TransDB" />
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q==" />
		<add key="TransDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW" />-->

    <!--New QA Environment-->
    <!--NEw SQL Account-->
    <!--<add key="AchDB_Server" value="AGListPXPSQLP_Q"/>
    <add key="AchDB_Database" value="ACH"/>
    <add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="AchDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
    <add key="AchDB_Attributes" value=""/>
    <add key="MerchantDB_Server" value="AGListPXPSQLP_Q"/>
    <add key="MerchantDB_Database" value="PrimusPayments"/>
    <add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="MerchantDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
    <add key="RawDataDB_Server" value="AGListPXPRPT_Q"/>
    <add key="RawDataDB_Database" value="RawData"/>
    <add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="RawDataDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
    <add key="TransDB_Server" value="AGListPXPSQLP_Q"/>
    <add key="TransDB_Database" value="TransDB"/>
    <add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="TransDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>-->

		<!--New Preprod Environment-->
		<!--NEw SQL Account-->
		<add key="AchDB_Server" value="AGListPXPSQLP_P.corp.paysafe.com"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="AchDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="AchDB_Attributes" value=""/>
		<add key="MerchantDB_Server" value="AGListPXPSQLP_P.corp.paysafe.com"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="MerchantDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="MerchantDB_Attributes" value=""/>
		<add key="TransDB_Server" value="AGListPXPSQLP_P.corp.paysafe.com"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="TransDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		
		<!--Old SQL Account-->
		<!--<add key="AchDB_Server" value="AGLISTPXPSQLP.prod.paysafe.com"/>
    <add key="AchDB_Database" value="ACH"/>
    <add key="AchDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="AchDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="AchDB_Attributes" value=""/>
    
    <add key="MerchantDB_Server" value="AGLISTPXPSQLP.prod.paysafe.com"/>
    <add key="MerchantDB_Database" value="PrimusPayments"/>
    <add key="MerchantDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="MerchantDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="MerchantDB_Attributes" value=""/>
    
    <add key="TransDB_Server" value="AGLISTPXPSQLP.prod.paysafe.com"/>
    <add key="TransDB_Database" value="TransDB"/>
    <add key="TransDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="TransDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>-->



		<!-- Stage -->
		<!--<add key="AchDB_Server" value="mpsstage"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg=="/>
		<add key="AchDB_Password" value="0IHK16waEpNrZEm5MM4g9Q=="/>
		<add key="AchDB_Attributes" value=""/>
		<add key="MerchantDB_Server" value="mpsstage"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg=="/>
		<add key="MerchantDB_Password" value="0IHK16waEpNrZEm5MM4g9Q=="/>
		<add key="MerchantDB_Attributes" value=""/>
		<add key="TransDB_Server" value="mpsstage"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg=="/>
		<add key="TransDB_Password" value="0IHK16waEpNrZEm5MM4g9Q=="/>-->


		<!--<add key="FTPCentral" value="\\mon-pxp-sftp-01.prod.paysafe.com\transcentral\"/>-->
		<add key="FTPCentral" value="C:\ACH\FTP Directories\transcentral\"/>
		<add key="ArchiveCentral" value="C:\ACH\FTP Directories\ArchiveCentral\"/>
		<add key="SettlementFileDirectory" value="C:\ACH\BankFiles\SettlementFile\"/>
		<add key="ReturnFileDirectory" value="C:\ACH\BankFiles\ReturnFile\"/>
		<add key="SettlementFileOldDirectory" value="C:\ACH\FTP Directories\SettlementFileOld\"/>
		<add key="ReturnFileOldDirectory" value="C:\ACH\FTP Directories\ReturnFileOld\"/>
		<add key="ReturnFileOldDirectory" value="C:\ACH\FTP Directories\ReturnFileOld\"/>
		<add key="BankcardFileDirectory" value="C:\ACH\BankFiles\BankcardFile\"/>
		<add key="BankcardFileOldDirectory" value="C:\ACH\BankFiles\BankcardFileOld\"/>

		<!--Date should be MM/dd/yyyy ONLY-->
		<add key ="OverrideDate" value="22/09/2025"/>
		<add key="AptPaySettlementFileName" value="ach-inbound-{0:yyyyMMddHHmmss}.txt"/>
		<add key="AptPayReturnFileStartWith" value="ach-inbound"/>
		<add key="AptPayCompanyID" value="5492721102"/>


		<!--<add key="SMTPServer" value="dbSMTP"/>-->
		<add key="SMTPServer" value="10.56.255.41" />
		<add key="SMTPUser" value="" />
		<add key="SMTPPassword" value="" />
		<add key="SMTPPort" value="25" />
		<add key="DuplicateTransEmail" value="Sravan.Edavelli@paysafe.com"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>

		<!--Start Section For From EmailAddress-->

		<add key="CLIENT_SERVICE_EMAIL" value="Clientservices@paysafe.com"/>
		<add key="RELATIONSHIP_MANAGEMENT_EMAIL" value="RelationshipManagement@paysafe.com"/>
		<add key="RELATIONSHIP_MANAGEMENT_ST_EMAIL" value="Irvine.rmst@paysafe.com"/>
		<add key="CREDIT_UNDERWRITING_EMAIL" value="irvine.creditunderwriting@paysafe.com"/>
		<add key="RISK_EMAIL" value="Irvine.Risk.Management@paysafe.com"/>
		<add key="RISK_EMAIL_OPTIMAL" value="irvine.risk@paysafe.com"/>
		<add key="MARKETING_EMAIL" value="Irvine.marketing@paysafe.com"/>
		<add key="APPLICATION_EMAIL" value="Irvine.Application.Processing@paysafe.com"/>
		<add key="DEVELOPERS_EMAIL" value="Irvine.developers@paysafe.com"/>
		<add key="COMPLIANCE_PP_EMAIL" value="Compliance_pp@paysafe.com"/>
		<add key="APPLICATIONXP_EMAIL" value="Irvine.applicationxp@paysafe.com"/>
		<add key="RISK_EMAIL_GMA" value="risk@gmapay.com"/>
		<add key="DO_NOT_REPLY_EMAIL" value="noreply@paysafe.com"/>
		<add key="IRVINE_GW" value="Irvine.gw@paysafe.com"/>
		<add key="IRVINE_SFTP" value="Irvine.SFTP@paysafe.com"/>
		<add key="IRVINE_INFO" value="Irvine.info@paysafe.com"/>
		<add key="RM_PAYSAFE_COM" value="rm@paysafe.com"/>
		<add key="UNDERWRITING_PAYSAFE" value="underwriting@paysafe.com"/>
		<add key="IRVINE_NO_REPLY" value="Irvine.no-reply@paysafe.com"/>
		<add key="MNGUYEN_MERITUSPAYMENT" value="mnguyen@merituspayment.com"/>
		<add key="ADMIN_PAYMENTXP" value="admin@paymentxp.com"/>
		<add key="NO_REPLY_MERITUSPAYMENT" value="no-reply@merituspayment.com"/>
		<add key="DONOT_REPLYMERITUS_PAYMENT" value="donotreply@merituspayment.com"/>
		<add key="IRVINE_COMPASS_PAYSAFE" value="Irvine.Compass@paysafe.com"/>
		<add key="ADMIN_MERITUSPAYMENT" value="admin@merituspayment.com"/>
		<add key="NMIlockdown_defaultEmail" value="contactus@paysafe.com"/>
		<add key="GLOBAL_EMAIL_FROM_ADDRESS" value="Irvine.admin@paysafe.com"/>
		<add key="COLLECTIONS_EMAIL" value="irvine.collections@paysafe.com"/>

		<!--End Section For From EmailAddress-->
		

		<add key="PublicKey" value="C:\PGPKeys\pubring.pkr"/>
		<add key="SecretKey" value="C:\PGPKeys\secring.skr"/>		
		<add key="PublicKey_GS" value="C:\PGPKeys\GSTXB-PAYSAFEPHASE2-QA-PGP.asc"/>
		<add key="PaysafePriv" value="C:\PGPKeys\PaysafePriv_Test.skr"/>
		<add key="PaysafePub" value="C:\PGPKeys\PaysafePub_Test.pkr"/>

	</appSettings>
	<log4net>
		<appender name="ACH.AppenderNCALSplits" type="PaymentXP.BusinessObjects.Logging.SortYearMonthFileAppender, PaymentXP.BusinessObjects">
			<file value="C:\logs\ACH\NCALSplits\"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maximumFileSize value="32MB"/>
			<maxSizeRollBackups value="30"/>
			<datePattern value="yyyyMMdd'_ParseSettlement.log'"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline"/>
			</layout>
		</appender>
		<logger name="ACH.NCALSplits">
			<level value="INFO"/>
			<appender-ref ref="ACH.AppenderNCALSplits"/>
		</logger>
	</log4net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
