<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website > Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ZeusWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<infragistics.web enableAppStyling="true" styleSetName="Default" styleSetPath="~/ig_res" />
	<connectionStrings>
		<add name="PrimusPaymentsConnectionString1" connectionString="Data Source=mpsbronze;Initial Catalog=PrimusPayments;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
		<add name="PrimusPaymentsConnectionString" connectionString="Data Source=mpsjade;Initial Catalog=PrimusPayments;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="PrimusPaymentsConnectionString2" connectionString="Data Source=sqlp;Initial Catalog=PrimusPayments;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>


		<!--New DEV Environment-->
		<!--New SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_D"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="AchDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW"/>
		<add key="AchDB_Attributes" value=""/>
		<add key="FDRDB_Server" value="AGListPXPRPT_D"/>
		<add key="FDRDB_Database" value="FDR"/>
		<add key="FDRDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="FDRDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW"/>
		<add key="MerchantDB_Server" value="AGListPXPSQLP_D"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="MerchantDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW"/>
		<add key="RawDataDB_Server" value="AGListPXPRPT_D"/>
		<add key="RawDataDB_Database" value="RawData"/>
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="RawDataDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW"/>
		<add key="TransDB_Server" value="AGListPXPSQLP_D"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="TransDB_Password" value="r7/yFVL8QX19FP61PRSeUk7x94Mg+kRW"/>
		
		<add key="MDocWS.fileupload" value="http://10.62.128.22/MDocWS/fileupload.asmx"/>
		<add key="StatementsPath" value="\\mon-pxpd-fs-1\pxp\statements"/>
		<add key="ApplicationURL" value="https://dev.paymentxp.com/applicationxp/applicationxp.aspx"/>
		<add key="Experian.ZeusURL" value="https://zeus.dev.paysafe.com/"/>
		<add key="IsNewDataCenter" value="FALSE"/>
		
		<!-- Preprod Environment-->
		<!--New SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_P"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="AchDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="AchDB_Attributes" value=""/>
		<add key="FDRDB_Server" value="AGListPXPRPT_P"/>
		<add key="FDRDB_Database" value="FDR"/>
		<add key="FDRDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="FDRDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="MerchantDB_Server" value="AGListPXPSQLP_P"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="MerchantDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="RawDataDB_Server" value="AGListPXPRPT_P"/>
		<add key="RawDataDB_Database" value="RawData"/>
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="RawDataDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
		<add key="TransDB_Server" value="AGListPXPSQLP_P"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="TransDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>

		<add key="MDocWS.fileupload" value="http://10.62.128.22/MDocWS/fileupload.asmx"/>
		<add key="StatementsPath" value="\\mon-pxpd-fs-1\pxp\statements"/>
		<add key="ApplicationURL" value="https://dev.paymentxp.com/applicationxp/applicationxp.aspx"/>
		<add key="Experian.ZeusURL" value="https://zeus.dev.paysafe.com/"/>
		<add key="IsNewDataCenter" value="FALSE"/>-->

		<!-- Production -->
		<!-- New SQL Account -->
		<!--
		<add key="AchDB_Server" value="AGListPXPSQLP.prod.paysafe.com"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="AchDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A=="/>
		<add key="AchDB_Attributes" value=""/>
		<add key="FDRDB_Server" value="AGListPXPRPT.prod.paysafe.com"/>
		<add key="FDRDB_Database" value="FDR"/>
		<add key="FDRDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="FDRDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A=="/>
		<add key="MerchantDB_Server" value="AGListPXPSQLP.prod.paysafe.com"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="MerchantDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A=="/>
		<add key="RawDataDB_Server" value="AGListPXPRPT.prod.paysafe.com"/>
		<add key="RawDataDB_Database" value="RawData"/>
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="RawDataDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A=="/>
		<add key="TransDB_Server" value="AGListPXPSQLP.prod.paysafe.com"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="TransDB_Password" value="Gdt09GtNdlun0oEuJ3dc8A=="/>

    <add key="MDocWS.fileupload" value="http://10.65.100.22/MDocWS/FileUpload.asmx"/>
    <add key="StatementsPath" value="\\prod.paysafe.com\pxp\statements"/>
    <add key="ApplicationURL" value="https://www.paymentxp.com/applicationxp/applicationxp.aspx"/>
    <add key="Experian.ZeusURL" value="https://zeus.paysafe.com/"/>
    <add key="IsNewDataCenter" value="FALSE"/>-->





		<!--New QA Environment-->
		<!--New SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_Q"/>
		<add key="AchDB_Database" value="ACH"/>
		<add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="AchDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
		<add key="AchDB_Attributes" value=""/>
		<add key="FDRDB_Server" value="AGListPXPRPT_Q"/>
		<add key="FDRDB_Database" value="FDR"/>
		<add key="FDRDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="FDRDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
		<add key="MerchantDB_Server" value="AGListPXPSQLP_Q"/>
		<add key="MerchantDB_Database" value="PrimusPayments"/>
		<add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="MerchantDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
		<add key="RawDataDB_Server" value="AGListPXPRPT_Q"/>
		<add key="RawDataDB_Database" value="RawData"/>
		<add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="RawDataDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
		<add key="TransDB_Server" value="AGListPXPSQLP_Q"/>
		<add key="TransDB_Database" value="TransDB"/>
		<add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
		<add key="TransDB_Password" value="/tVhT8B4NjlJXo4rpZePkoOtaCPNtGrd"/>
		<add key="MDocWS.fileupload" value="http://10.63.128.22/MDocWS/fileupload.asmx"/>
		<add key="StatementsPath" value="\\mon-pxpq-fs-1\pxp\statements"/>
		<add key="ApplicationURL" value="https://qa.paymentxp.com/applicationxp/applicationxp.aspx"/>
		<add key="Experian.ZeusURL" value="https://zeus.qa.paysafe.com/"/>
    	   <add key="IsNewDataCenter" value="FALSE"/>-->

		<!--Old SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_Q" />
    <add key="AchDB_Database" value="ACH" />
    <add key="AchDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg==" />
    <add key="AchDB_Password" value="0IHK16waEpNrZEm5MM4g9Q==" />
    <add key="MerchantDB_Server" value="AGListPXPSQLP_Q" />
    <add key="MerchantDB_Database" value="primuspayments" />
    <add key="MerchantDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg==" />
    <add key="MerchantDB_Password" value="0IHK16waEpNrZEm5MM4g9Q==" />
    <add key="TransDB_Server" value="AGListPXPSQLP_Q" />
    <add key="TransDB_Database" value="TransDB" />
    <add key="TransDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg==" />
    <add key="TransDB_Password" value="0IHK16waEpNrZEm5MM4g9Q==" />
    <add key="RawDataDB_Server" value="AGListPXPRPT_Q" />
    <add key="RawDataDB_Database" value="RawData" />
    <add key="RawDataDB_UserID" value="7vMa1X2eUcSrjzvnYlPtJg==" />
    <add key="RawDataDB_Password" value="0IHK16waEpNrZEm5MM4g9Q==" />
     <add key="MDocWS.fileupload" value="http://10.10.80.153/MDocWS/fileupload.asmx"/>
    <add key="StatementsPath" value="\\mpsivory\statements"/>
    <add key="ApplicationURL" value="http://mpsdev/stage/applicationxp/ApplicationXP.aspx"/>
    <add key="SalesFlagKey" value="Sales Flag Disabled"/>
    -->

		<!--New PreProd Environment-->
		<!--New SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_P"/>
    <add key="AchDB_Database" value="ACH"/>
    <add key="AchDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="AchDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
    <add key="AchDB_Attributes" value=""/>
    <add key="FDRDB_Server" value="AGListPXPRPT_P"/>
    <add key="FDRDB_Database" value="FDR"/>
    <add key="FDRDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="FDRDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
    <add key="MerchantDB_Server" value="AGListPXPSQLP_P"/>
    <add key="MerchantDB_Database" value="PrimusPayments"/>
    <add key="MerchantDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="MerchantDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
    <add key="RawDataDB_Server" value="AGListPXPRPT_P"/>
    <add key="RawDataDB_Database" value="RawData"/>
    <add key="RawDataDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="RawDataDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
    <add key="TransDB_Server" value="AGListPXPSQLP_P"/>
    <add key="TransDB_Database" value="TransDB"/>
    <add key="TransDB_UserID" value="dOTGfDTMDP6ZEaoWswDG7Q=="/>
    <add key="TransDB_Password" value="49S4rraSEZZ1QNfQPgK5sDLO3/OwYDad"/>
    <add key="MDocWS.fileupload" value="http://10.66.128.22/MDocWS/fileupload.asmx"/>
    <add key="StatementsPath" value="\\mon-pxpp-fs-1\pxp\statements"/>
    <add key="ApplicationURL" value="https://preprod.paymentxp.com/applicationxp/applicationxp.aspx"/>
    <add key="Experian.ZeusURL" value="https://zeus.prep.paysafe.com/"/>
    <add key="IsNewDataCenter" value="FALSE"/>-->

		<!--Old SQL Account-->
		<!--<add key="AchDB_Server" value="AGListPXPSQLP_P"/>
    <add key="AchDB_Database" value="ACH"/>
    <add key="AchDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="AchDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="AchDB_Attributes" value=""/>
    <add key="FDRDB_Server" value="AGListPXPRPT_P"/>
    <add key="FDRDB_Database" value="FDR"/>
    <add key="FDRDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="FDRDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="MerchantDB_Server" value="AGListPXPSQLP_P"/>
    <add key="MerchantDB_Database" value="PrimusPayments"/>
    <add key="MerchantDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="MerchantDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="RawDataDB_Server" value="AGListPXPRPT_P"/>
    <add key="RawDataDB_Database" value="RawData"/>
    <add key="RawDataDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="RawDataDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="TransDB_Server" value="AGListPXPSQLP_P"/>
    <add key="TransDB_Database" value="TransDB"/>
    <add key="TransDB_UserID" value="wts99LJbIPQzxa1sjV5dWg=="/>
    <add key="TransDB_Password" value="+IeD58ggRoL1wabV8lMcYmXV+rUGEDbO/qpaPGjrROw="/>
    <add key="MDocWS.fileupload" value="http://10.10.32.236/mdocws/fileupload.asmx"/>
        <add key="MDocWS.fileupload" value="http://zeus/mdocws/fileupload.asmx"/>
    <add key="StatementsPath" value="\\sna2prddfs02\statements"/>
    <add key="ApplicationURL" value="http://mpsdev/stage/applicationxp/applicationxp.aspx"/>-->

		<add key="LockdownAuthKey" value="A39wYu8JRpGny3wSux8ZDYyDaZkVb3z6" />
		<add key="AffiliateAuthKey" value="XE8Pp9mK457NvE7BV6a86qH5My7Hh3zp" />
		<add key="NMIMerchantGatewayURL" value="https://secure.safewebservices.com/api/v3/affiliate/gateways" />
		<add key="NMIMerchantProcessorURL" value="https://secure.safewebservices.com/api/v3/affiliate/gateways/{0}/processors" />
		<add key="NMIMerchantServiceConfigURL" value="https://secure.safewebservices.com/api/v3/affiliate/gateways/{0}/services" />
		<add key="NMIMerchantTermsOfServiceURL" value="https://secure.safewebservices.com/api/v3/affiliate/gateways/{0}/auth" />
		<add key="NMIMerchantStatusURL" value="https://secure.safewebservices.com/api/v3/affiliate/gateways/{0}/status" />
		<add key="LockdownPlatform" value="pxgatewy" />
		<add key="AffiliatePlatform" value="psfconty" />
		<add key="NMISettlementTime" value="13:00" />
		<add key="PaysafeEncryption_Key" value="Paysafe123" />
		<!--code changes for PXP-12673 by koshlendra -->
		<add key="MDoc_Polling" value="\\MPSIVORY\MDoc\MerchantDoc" />
		<add key="MDoc_Input" value="\\MPSIVORY\MDoc\MerchantDoc\Input\" />
		<add key="MDoc_Output" value="\\MPSIVORY\MDoc\MerchantDoc\Output\" />
		<add key="MDoc_Staging" value="\\MPSIVORY\MDoc\MerchantDoc\Staging\" />
		<add key="MDoc_Archive" value="\\MPSIVORY\MDoc\MerchantDoc\Archive\" />
		<add key="MDoc_Error" value="\\MPSIVORY\MDoc\MerchantDoc\Error\" />
		<add key="MDoc_Crawler_Polling" value="\\MPSIVORY\MDoc\CrawlerDoc" />
		<add key="MDoc_Crawler_Input" value="\\MPSIVORY\MDoc\CrawlerDoc\Input\" />
		<add key="MDoc_Crawler_Output" value="\\MPSIVORY\MDoc\CrawlerDoc\Output\" />
		<add key="MDoc_Crawler_Staging" value="\\MPSIVORY\MDoc\CrawlerDoc\Staging\" />
		<add key="MDoc_Crawler_Archive" value="\\MPSIVORY\MDoc\CrawlerDoc\Archive\" />
		<add key="MDoc_Crawler_Error" value="\\MPSIVORY\MDoc\CrawlerDoc\Error\" />
		<add key="PDFDirectory" value="PDF" />
		<add key="EFaxAccount" value="Irvine.developers@paysafe.com" />
		<add key="ReportServer" value="http://XXX/ReportServer" />
		<add key="AggregatorAchMerchantID" value="10234" />
		<add key="AggregatorAchID" value="6956" />
		<add key="LogFilePath" value="C:\Log\Zeus" />
		<!-- Application Status -->
		<add key="Sales - File In Review" value="71371612-989D-4E88-B8F8-2EDEB1511CEB" />
		<add key="Relationship Management - Application Received" value="2223E9E3-970D-435F-A2E2-C5247F43AA7A" />
		<add key="Relationship Management - Application Approved" value="A16F2B3E-69FF-48B9-BE82-B456A39CD509" />
		<add key="Relationship Management - Application Pending" value="84C4DB93-F338-48EC-A503-FE9F5EE88D43" />
		<add key="Underwriting - Application Approved" value="0590A9A4-E266-44DA-B1CB-CC3327A079BE" />
		<add key="Data Entry - Application Received" value="60BDD19F-66FE-43FE-A327-CE59F3677A0E" />
		<add key="Data Entry - Application Pending" value="540C1858-56CF-4D15-9CB4-962462EFC48B" />
		<add key="Data Entry - Application Complete" value="2091F91B-A8B9-491F-A7C8-7F9BBEBDF506" />
		<add key="Deployment - Application Received" value="BC66A398-D119-4E45-A4E3-897E5FB49742" />
		<add key="Deployment - Application Approved" value="A4BE6467-7880-4679-85D5-EC4DBBD2D881" />
		<!-- Terminal Status -->
		<add key="Terminal - Idle" value="757F86CD-4A8D-4642-82B9-279227B5CE49" />
		<add key="Terminal - Quality Control" value="61ED5F55-4A7C-4EE8-A8BB-713573210FAE" />
		<add key="Terminal - Downloads and Training" value="BC4D74B5-33D2-4080-89D7-D9245462B876" />
		<add key="Terminal - Active" value="6E99E03F-54CC-437C-967F-47E14E6BB50F" />
		<add key="Terminal - Disabled" value="195EAB09-FDAC-4ABE-A992-AFBC14A71BFA" />
		<!-- Module Status -->
		<add key="Sales Module Status" value="A0D71501-D989-4C2E-A00E-040E9D64E8DD,71371612-989D-4E88-B8F8-2EDEB1511CEB,0DD5DE53-7BBF-4520-90DA-9F0134C366B6,410AC5DC-2721-459A-B346-BFB51662E231,CA64EB30-8BCC-41E5-B36E-C7948BF6A4D9" />
		<add key="Relationship Management Module Status" value="A16F2B3E-69FF-48B9-BE82-B456A39CD509,2223E9E3-970D-435F-A2E2-C5247F43AA7A,84C4DB93-F338-48EC-A503-FE9F5EE88D43,71371612-989D-4E88-B8F8-2EDEB1511CEB" />
		<add key="Underwriting Module Status" value="87088D88-006E-440D-8216-033B999090DA,88FC6691-3E89-432A-B920-05B7283A4A1A,79D732D7-4158-4036-9A37-7D6A88705EA0,2AE53E1F-860A-4D4D-B8C2-81F50421DCB0,FC339DB6-265B-410B-BC05-84202520D667,F1EA3E0A-4CEE-4E17-987C-95746E470E69,0590A9A4-E266-44DA-B1CB-CC3327A079BE,D5DA9626-A7D9-46CF-9FC7-D605E7316CE6,E1709E6D-1A45-45E3-87A7-E493F0EC1143,05A21960-CFEC-4E20-B629-ED1CCE2457D0,02AC6D9C-F667-4222-8B4B-F27A64F5DCD7,A16F2B3E-69FF-48B9-BE82-B456A39CD509" />
		<add key="Data Entry Module Status" value="2091F91B-A8B9-491F-A7C8-7F9BBEBDF506,540C1858-56CF-4D15-9CB4-962462EFC48B,60BDD19F-66FE-43FE-A327-CE59F3677A0E,0590A9A4-E266-44DA-B1CB-CC3327A079BE" />
		<!-- Agent Equipments -->
		<add key="Agent Module Equipment" value="2d9e9537-777f-4fe0-90c8-86b73df2ea08,7ad048ba-6bc8-439b-b8c4-943686709cd8,e5614724-935f-4c0b-9f3c-f47c2f537c4b" />
		<add key="Agent Module Fees" value="2e7e46c3-1285-4d58-b43f-e5ea75c6b005,3f89394b-2554-49e7-9ac6-5a494e7e1262,1e5203f8-1a88-4f66-b4f2-3f5569e1bb78,6c9c8de2-89c6-414e-9481-2b6c9e25c2fb" />
		<add key="Agent Module Discount Rates" value="5a8be9f8-7a7c-4a84-bb22-fe37c4626922" />
		<!-- Terminal Platforms -->
		<add key="AUTH" value="F1E74EA3-C8F2-47A8-A9A1-0512C013609D" />
		<add key="SETTLE" value="A537624C-78DA-40E3-82C8-56A6033D992C" />
		<!-- TerminalTypes Default Selection -->
		<add key="Add Terminal Types Default" value="1432FB0D-B1FB-4F03-9465-17833B14C34B" />
		<!-- Default Grid Height -->
		<add key="Default Grid Height" value="111px" />
		<add key="Default Record Label" value="Total Record(s) Found: " />
		<!-- Local filesystem temporary upload path -->
		<add key="TempUploadDir" value="C:\temp\temporary_uploads" />
		<add key="PaymentXpPortalLoginUrl" value="http://mpsdev/stage/paymentxp/frmlogin.aspx" />
		<add key="MerchantPortalLoginUrl" value="http://mpsdev/stage/merchantportal/frmlogin.aspx" />
		<add key="AgentPortalLoginUrl" value="http://mpsdev/stage/agentportal/frmlogin.aspx" />
		<add key="SMTPServer" value="dbsmtp" />
		<add key="SMTPUser" value="" />
		<add key="SMTPPassword" value="" />
		<add key="SMTPPort" value="" />
		<add key="EmailFrom" value="admin@paymentxp.com" />
		<add key="EmailTo" value="Irvine.developers@paysafe.com" />
		<add key="CBMSFaxOmahaWells" value="402-933-1525" />
		<add key="CBMSFaxOmahaNcal" value="402-933-1525" />
		<add key="CBMSFaxWoodforest" value="706-644-5210" />
		<add key="CBMSFaxWoodforestSB" value="706-644-5210" />
		<!-- 40mb. soft zeus limit. -->
		<add key="MAX_FILE_UPLOAD_BYTES" value="41943040" />
		<add key="ExperianCertificate1" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnect|serviceVersion=0.1|responseType=text/plain" />
		<add key="ExperianCertificate2" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnect|serviceVersion=0.2|responseType=text/plain" />
		<add key="ExperianCertificate3" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnect|serviceVersion=0.3|responseType=text/plain" />
		<add key="ExperianCertificate4" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnect|serviceVersion=0.4|responseType=text/plain" />
		<add key="ResponseUrl1" value="https://www.cfexperian.com:443/nccert/nccert1" />
		<add key="ResponseUrl2" value="https://cf2.experian.com:2443/nccert/nccert2" />
		<add key="ResponseUrl3" value="https://cf3.experian.com:3443/nccert/nccert3" />
		<add key="ResponseUrl4" value="https://ectst001a.ec.experian.com:4443/nccert/nccert4" />
		<!--<add key="Zeus3dePostRequest" value="https://uatzeus.merituspayment.com:8181/Zeus3DERestService.svc/Post3DERequest"/>
    <add key="Zeus3deCallBackURL" value="https://uatzeus.merituspayment.com:8181/Zeus3DERestService.svc/PostJsonResponseData"/>-->
		<!--<add key="Zeus3dePostRequest" value="https://10.63.128.25/Zeus3DERestService.svc/Post3DERequest"/>
    <add key="Zeus3deCallBackURL" value="https://zeus.qa.paysafe.com/Zeus3DERestService.svc/PostJsonResponseData"/>-->
		<!--<add key="Zeus3dePostRequest" value="https://10.66.128.25/Zeus3DERestService.svc/Post3DERequest"/>
    <add key="Zeus3deCallBackURL" value="https://zeus.prep.paysafe.com/Zeus3DERestService.svc/PostJsonResponseData"/>-->
		<add key="Zeus3dePostRequest" value="https://10.62.128.25/Zeus3DERestService.svc/Post3DERequest" />
		<add key="Zeus3deCallBackURL" value="https://zeus.dev.paysafe.com/Zeus3DERestService.svc/PostJsonResponseData" />
		<add key="EnableAuto3de" value="true" />
		<add key="Graduated3de" value="false" />
		<add key="EnableAuto3de" value="true" />
		<add key="Graduated3de" value="false" />
		<add key="AgentIdsFor3de" value="1276,6502,1357" />
		<add key="Percentage3de" value="100" />
		<add key="Zeus3de.BMOHarris.AcquirerId" value="11412" />
		<add key="Zeus3de.WellsFargoBankICA.AcquirerId" value="10518" />
		<!-- CitizensBank ICA & Woodforest -->
		<add key="Zeus3de.CitizensBank.AcquirerId" value="6323" />
		<add key="Zeus3de.WoodforestNationalBankICA.AcquirerId" value="2814" />
		<!--Key added to implement PXP-8073 by koshlendra start-->
		<add key="Zeus3de.Headquarter.AcquirerId" value="1033" />
		<add key="Zeus3de.Corporate.AcquirerId" value="1020" />
		<add key="Zeus3de.ACHOnly.AcquirerId" value="1021" />
		<!--Key added to implement PXP-8073 by koshlendra end-->
		<!--Key added to implement PXP-16948,PXP-16950,PXP-16951 by koshlendra Start-->
		<add key="Zeus3de.BBVA.AcquirerId" value="5630" />
		<!--After 5/3 value update to 5630.-->
		<add key="Zeus3de.Chesapeake.AcquirerId" value="34803" />
		<!--Key added to implement PXP-16948,PXP-16950,PXP-16951 by koshlendra end-->
		<!-- DM-7002 - Woodforest SB - Will change it once we have final ID -->
		<add key="Zeus3de.WoodforestSB.AcquirerId" value="54321" />
		<add key="MeritcardMailsSendToAddress" value="deepak.pandey@paysafe.com,asheesh.barua@paysafe.com" />
		<add key="MeritcardParentAgentUID" value="6D7E0A22-0A09-4A85-A9EE-4D814F3B2B25" />
		<!-- Test Credentials -->
		<!--
    <add key="ExperianPassword" value="0IHK16waEpMChM3Nq7fVSw=="/>Password@5
    <add key="ExperianUserID" value="meritus_demo"/>
    <add key="SubCode" value="688500"/>
    <add key="ExperianUrl" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnectDemo|serviceVersion=2.0|responseType=text/plain"/>
    -->
		<!-- Prod Credentials -->
		<add key="ExperianUrl" value="http://www.experian.com/lookupServlet1?lookupServiceName=AccessPoint|lookupServiceVersion=1.0|serviceName=NetConnect|serviceVersion=2.0|responseType=text/plain" />
		<add key="ExperianPassword" value="pR2clf+gWWPQX6ZOT/LVJw==" />
		<!--Password@1-->
		<add key="SubCode" value="0687930" />
		<add key="ExperianUserID" value="wilson.nguy" />
		<add key="AdminUsers" value="vpatel,eluxa,sreddy,ckumbaji,sedavelli,dpandey,pvisen,rtiwari,spandey,abarua" />
		<add key="AllowPublicIP" value="10.10.30.190" />
		<add key="ViewStateCache" value="300" />
		<add key="AcceptableUploadMimeTypes" value="text/csv, text/plain, text/tab-separated-values, application/zip, application/x-zip-compressed, application/x-compressed, multipart/x-zip, image/gif, image/png, image/tiff, image/bmp, image/jpeg, application/msword, application/excel, application/vnd.ms-excel, application/x-excel, application/x-msexcel, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf, .msg, .rar, .tsv,video/mp4 " />
		<!--added for PXP-16549-->
		<add key="InternalEmail_ZeusURL" value="https://zeusuat.merituspayment.com" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="TLSVersion" value="TLS12" />
		<add key="ApplicationURL" value="http://mpsdev/stage/applicationxp/applicationxp.aspx" />
		<add key="MerchantPortalLoginUrl" value="http://mpsdev/stage/merchantportal/frmlogin.aspx" />
		<add key="AgentPortalLoginUrl" value="http://mpsdev/stage/agentportal/frmlogin.aspx" />
		<add key="SalesFlagKey" value="Sales Flag Disabled" />
		<add key="NewRelic.AppName" value="Zeus STAGE" />
		<!--<add key="Experian.ZeusURL" value="https://monzeus.paysafe.com/"/>-->
		<add key="Experian.ZeusURL" value="https://torzeus.paysafe.com/" />
		<add key="IsNewDataCenter" value="TRUE" />
		<!--Start Section For From EmailAddress-->

		<add key="CLIENT_SERVICE_EMAIL" value="Client.services@paysafe.com" />
		<add key="RELATIONSHIP_MANAGEMENT_EMAIL" value="RelationshipManagement@paysafe.com" />
		<add key="RELATIONSHIP_MANAGEMENT_ST_EMAIL" value="Irvine.rmst@paysafe.com" />
		<add key="CREDIT_UNDERWRITING_EMAIL" value="irvine.creditunderwriting@paysafe.com" />
		<add key="RISK_EMAIL" value="Irvine.Risk.Management@paysafe.com" />
		<add key="RISK_EMAIL_OPTIMAL" value="irvine.risk@paysafe.com" />
		<add key="MARKETING_EMAIL" value="Irvine.marketing@paysafe.com" />
		<add key="APPLICATION_EMAIL" value="Irvine.Application.Processing@paysafe.com" />
		<add key="DEVELOPERS_EMAIL" value="Irvine.developers@paysafe.com" />
		<add key="COMPLIANCE_PP_EMAIL" value="Compliance_pp@paysafe.com" />
		<add key="APPLICATIONXP_EMAIL" value="Irvine.applicationxp@paysafe.com" />
		<add key="RISK_EMAIL_GMA" value="risk@gmapay.com" />
		<add key="DO_NOT_REPLY_EMAIL" value="noreply@paysafe.com" />
		<add key="IRVINE_GW" value="Irvine.gw@paysafe.com" />
		<add key="IRVINE_SFTP" value="Irvine.SFTP@paysafe.com" />
		<add key="IRVINE_INFO" value="Irvine.info@paysafe.com" />
		<add key="RM_PAYSAFE_COM" value="rm@paysafe.com" />
		<add key="UNDERWRITING_PAYSAFE" value="underwriting@paysafe.com" />
		<add key="IRVINE_NO_REPLY" value="Irvine.no-reply@paysafe.com" />
		<add key="MNGUYEN_MERITUSPAYMENT" value="mnguyen@merituspayment.com" />
		<add key="ADMIN_PAYMENTXP" value="admin@paymentxp.com" />
		<add key="NO_REPLY_MERITUSPAYMENT" value="no-reply@merituspayment.com" />
		<add key="DONOT_REPLYMERITUS_PAYMENT" value="donotreply@merituspayment.com" />
		<add key="IRVINE_COMPASS_PAYSAFE" value="Irvine.Compass@paysafe.com" />
		<add key="ADMIN_MERITUSPAYMENT" value="admin@merituspayment.com" />
		<add key="NMIlockdown_defaultEmail" value="contactus@paysafe.com" />
		<add key="GLOBAL_EMAIL_FROM_ADDRESS" value="Irvine.admin@paysafe.com" />
		<add key="COLLECTIONS_EMAIL" value="irvine.collections@paysafe.com" />

		<add key="VERIFI_ENROLLMENT_EMAIL" value="enrollment@verifi.com" />
		<add key="VERIFI_SUPPORT_EMAIL" value="verifisupport@visa.com" />

		<add key="AGENT_SUPPORT_EMAIL" value="irvine.agentsupport@paysafe.com" />
		<!--End Section For From EmailAddress-->

		<!--Prevent Host Header Attack - Password Reset Poisoning.-->
		<add key="BaseURL" value="zeus.dev.paysafe.com" />

		<!--Enable MFA on Portal-->
		<add key="IS_MFA_ENABLED" value="true" />

		<!--Get MFA Credentials-->
		<add key="OktaDomain" value="https://paysafesandbox.oktapreview.com/" />
		<add key="OktaToken" value="rfMqjmtHCMhux6PFOX24scp/sw59RU3CfLDsI62VSRjT69r8oC5PLSsbiWQ/i9C9" />
		<add key="UserNamePrefix" value="PXP_" />

		<add key="MFAGroup" value="00g1rkqpeq7rZfjLU0h8" />

	</appSettings>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<pages theme="Black" enableEventValidation="false" enableSessionState="true" enableViewState="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" />
			<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
			<compilation debug="true" targetFramework="4.8">
				<assemblies>
					<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
					<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
					<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
					<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="Infragistics45.WebUI.Shared.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.WebDataInput.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.WebHtmlEditor.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.WebSchedule.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.Web.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.Documents.Reports.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.Documents.Excel.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.Documents.Word.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.Documents.IO.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="Infragistics45.WebUI.WebScheduleDataProvider.v19.2, Version=19.2.20192.8, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
					<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				</assemblies>
				<buildProviders>
					<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
				</buildProviders>
				<expressionBuilders>
					<add expressionPrefix="Agent" type="ZeusWeb.Class.AgentExpressionBuilder" />
				</expressionBuilders>
			</compilation>
			<httpHandlers>
				<remove path="*.asmx" verb="*" />
				<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
				<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
				<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
				<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
			</httpHandlers>
			<httpModules>
				<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</httpModules>
			<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
			<!-- setting session timeout to 8 hours -->
			<sessionState mode="InProc" timeout="480" cookieless="false" />
			<authentication mode="Forms">
				<!-- timeout increased to 8 hours for inactivity. see: http://weblogs.asp.net/scottgu/archive/2005/11/08/430011.aspx -->
				<forms name="Zeus" loginUrl="frmLogin.aspx" timeout="480" slidingExpiration="true" cookieless="UseCookies" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="frmLogin.aspx" path="/" />
			</authentication>
			<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
		<customErrors mode="Off"></customErrors>
        
        -->
			<!-- 100mb upload limit. value in kilobytes -->
			<httpRuntime maxRequestLength="102400" executionTimeout="360" requestValidationMode="4.8" targetFramework="4.8" />
			<!--<httpRuntime maxRequestLength="102400" executionTimeout="360" />-->
		</system.web>
	</location>
	<location path="SecureAdminForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureAgentManagementForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureHomeForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureLeadForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureMerchantManagementForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureReports">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="SecureRiskForms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmRiskBatchPreview.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="ajax">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="frmLogin.aspx" />
			</files>
		</defaultDocument>
		<modules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<!-- value is in byte. 104,857,600 -> 100mb-->
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
	<applicationSettings>
		<ZeusWeb.Properties.Settings>
			<setting name="ZeusWeb_MDocWS_FileUpload" serializeAs="String">
				<value>http://10.62.128.22/mdocws/fileupload.asmx</value>
			</setting>
		</ZeusWeb.Properties.Settings>
	</applicationSettings>
	<log4net>
		<appender name="Zeus.Experian" type="log4net.Appender.RollingFileAppender">
			<file value="E:\Logs\Zeus\Experian\ExperianIntegration.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="3" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="Zeus.Experian">
			<level value="DEBUG" />
			<appender-ref ref="Zeus.Experian" />
		</logger>
		<appender name="Zeus.AppenderError" type="log4net.Appender.RollingFileAppender">
			<file value="E:\Logs\Zeus\Application\Error.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="3" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="Zeus.Error">
			<level value="DEBUG" />
			<appender-ref ref="Zeus.AppenderError" />
		</logger>
		<appender name="Zeus.EmailLog" type="log4net.Appender.RollingFileAppender">
			<file value="E:\Logs\Zeus\EmailLog\EmailLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="50MB" />
			<maxSizeRollBackups value="3" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="Zeus.EmailLog">
			<level value="DEBUG" />
			<appender-ref ref="Zeus.EmailLog" />
		</logger>
		<appender name="Zeus.BalancingLog" type="PaymentXP.BusinessObjects.Logging.SortYearMonthFileAppender, PaymentXP.BusinessObjects">
			<file value="E:\Logs\Zeus\BalancingLog\_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maximumFileSize value="1024MB" />
			<maxSizeRollBackups value="100" />
			<datePattern value="yyyyMMdd'_Balancing.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="PaymentXP.BusinessObjects.ZeusBalancingLog">
			<level value="ALL" />
			<appender-ref ref="Zeus.BalancingLog" />
		</logger>

		<appender name="PaymentXPLog.TwoFactorAuthClientLog" type="PaymentXP.BusinessObjects.Logging.SortYearMonthFileAppender, PaymentXP.BusinessObjects">
			<file value="E:\Logs\TwoFactorAuth\Client\_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maximumFileSize value="1024MB" />
			<maxSizeRollBackups value="100" />
			<datePattern value="yyyyMMdd'_RequestResponse.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="PaymentXP.BusinessObjects.TwoFactorAuthClientLog">
			<level value="ALL" />
			<appender-ref ref="PaymentXPLog.TwoFactorAuthClientLog" />
		</logger>

		<appender name="PaymentXPLog.TwoFactorAuthErrorLog" type="PaymentXP.BusinessObjects.Logging.SortYearMonthFileAppender, PaymentXP.BusinessObjects">
			<file value="E:\Logs\TwoFactorAuth\Client\_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maximumFileSize value="1024MB" />
			<maxSizeRollBackups value="100" />
			<datePattern value="yyyyMMdd'_Error.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="PaymentXP.BusinessObjects.TwoFactorAuthErrorLog">
			<level value="ALL" />
			<appender-ref ref="PaymentXPLog.TwoFactorAuthErrorLog" />
		</logger>

		<appender name="PaymentXPLog.TwoFactorAuthDBErrorLog" type="PaymentXP.BusinessObjects.Logging.SortYearMonthFileAppender, PaymentXP.BusinessObjects">
			<file value="E:\Logs\TwoFactorAuth\Client\_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maximumFileSize value="1024MB" />
			<maxSizeRollBackups value="100" />
			<datePattern value="yyyyMMdd'_DBError.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %method - %message%newline" />
			</layout>
		</appender>
		<logger name="PaymentXP.BusinessObjects.TwoFactorAuthDBErrorLog">
			<level value="ALL" />
			<appender-ref ref="PaymentXPLog.TwoFactorAuthDBErrorLog" />
		</logger>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>