SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

ALTER  Procedure dbo.Ach_PostJournal
	@PostedDate SmallDateTime, 
	@RefID Nvarchar(50),
	@PriID Int, 
	@Activity Nvarchar(60),
	@RefCode Nvarchar(1), 
	@Amount As Money, 
	@HoldID Int, 
	@ReturnTotal As Money
AS
	Set Nocount On

	Declare @CommCat Int
	
	If @RefCode =  'T' 
		Select @CommCat = 82
	Else If @RefCode =  'W' 
		Select @CommCat = 80
	Else If @PriID = 351 And @RefCode = 'B'
	   	 Select @CommCat = 1
	Else 
		Select @CommCat = CommissionCategory From JournalCommission Where RefCode = @RefCode And CharIndex(@Activity, EntryDescription) <> 0

	If @RefCode = 'C' Or @RefCode = 'P'
	Begin
		If CharIndex('ReturnFee', @Activity) > 0
			Insert Into Journal (PostedDate, RefID, PriID, EntryDescription, RefCode, Amount, HoldID, StatusID, CommissionCategory) 
			Values (@PostedDate, SubString(@RefID,1,10), @PriID, @Activity, @RefCode, @Amount, @HoldID , 0, @CommCat)
		Else
			Insert Into Journal (PostedDate, RefID, PriID, EntryDescription, RefCode, Amount, HoldID, StatusID, CommissionCategory) 
			Values (@PostedDate, @RefID, @PriID, @Activity, @RefCode, @Amount, @HoldID , 0, @CommCat)							
	End
	Else
		Insert Into Journal (PostedDate, RefID, PriID, EntryDescription, RefCode, Amount, HoldID, StatusID, CommissionCategory) 
		Values (@PostedDate, SubString(@RefID,1,10), @PriID, @Activity, @RefCode, @Amount, @HoldID , 0,@CommCat)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

