<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmailFrom" value="BatchFileLoader@merituspayment.com"/>
		<add key="EmailTo" value="mnguyen@merituspayment.com"/>
		<add key="EmailToError" value="mnguyen@merituspayment.com"/>
		<add key="PublicKey" value="C:\PGPKeys\pubring.pkr"/>
		<add key="SecretKey" value="C:\PGPKeys\secring.skr"/>
		<add key="SMTPServer" value="10.0.0.54"/>

		<!-- test 
		<add key="FtpPath" value="C:\Dev\ACH\FTP Directories\FTPCentral\"/>
		<add key="ArchivePath" value="C:\Dev\ACH\FTP Directories\TransCentral\"/>
		<add key="ConnectSQLAch" value="Data Source=Dev_db2k;Initial Catalog=Ach;Integrated Security=SSPI"/>
-->

		<!-- Production -->
		<add key="FtpPath" value="\\Web3\TransCentral\"/>
		<add key="ArchivePath" value="\\NMCData\TransCentral\"/>
		<add key="ConnectSQLAch" value="Data Source=sql;Initial Catalog=ach;User ID=app_ach;password=itdoesabodygood;"/>


	</appSettings>
</configuration>
