<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
        <add key="EmailFrom" value="BatchFileMonitor@merituspayment.com"/>
		<add key="SMTPServer" value="10.0.0.54"/>
		<add key="WatchFileExtensions" value="ACH,ACH.PGP,NAC,NAC.PGP"/>

		<!-- test 
		<add key="EmailTo" value="mnguyen@TransFirst.com"/>
		<add key="EmailToError" value="mnguyen@TransFirst.com"/>
		<add key="FtpPath" value="C:\ACH\FTPCentral\"/>
		<add key="ArchivePath" value="C:\ACH\TransCentral\"/>
-->

		<!-- Production -->
		<add key="EmailTo" value="mnguyen@merituspayment.com"/>
		<add key="EmailToError" value="mnguyen@merituspayment.com"/>
		<add key="FtpPath" value="\\Web3\TransCentral\"/>
		<add key="ArchivePath" value="\\NMCData\TransCentral\"/>



	</appSettings>
</configuration>
