SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

ALTER  PROCEDURE dbo.Ach_Journal_Pri_Get_Data 
	@BankID Int
AS

Select BatchID, PRIID, Debit, Credit, DebitCount, CreditCount, OverDailyAmountLimitCount, OverItemAmount, MerchantID 
From Batch With (NoLock) 
Where ProcessedDate Is Null 
	And Exists (Select PriID From AchMerchAddl With (NoLock) Where AchMerchAddl.PriID = Batch.PriID And BankID = @BankID) 
	And Not Exists (Select RefID From Journal With (NoLock) Where RefID = Batch.BatchID And RefCode = 'B')
Order By BatchID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

