SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


ALTER  Procedure dbo.Ach_GetHoldToReleaseDate
	@HoldToRelease SmallDateTime Output,
	@CurrentDate SmallDateTime,
	@IsThisHoldDayOrPaidOutDay Nvarchar(50),
	@HoldPeriod Int
As

Declare @j Int, @i Int

If (@IsThisHoldDayOrPaidOutDay = 'P')
Begin
  If (DatePart(DW,@CurrentDate) = 1)
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod + 1, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 2 )
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 3)
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod - 1, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 4)
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod - 2, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 5) 
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod - 3, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 6) 
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod - 4, @CurrentDate)
  Else If (DatePart(DW,@CurrentDate) = 7) 
	Select @HoldToRelease = DateAdd(Day, @HoldPeriod - 5, @CurrentDate)
End
Else If (@IsThisHoldDayOrPaidOutDay = 'H')
Begin
	Select @HoldToRelease = @CurrentDate + 1
	Select @i = 1
	Select @j = 1
	While (@i <= @HoldPeriod Or @j = 0)
	Begin
		If (DatePart(DW,@HoldToRelease) = 1 Or DatePart(DW,@HoldToRelease) = 7)
		Begin
		  Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)
		  Select @j = 0
		End
		Else
		Begin
		  If (Exists(Select Holiday From Holidays With (NoLock) Where Holiday = Convert(Varchar,@HoldToRelease,101)))
			Begin
		     Select @i = @i + 1
		     Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)
		     Select @j = 0
			End
		  Else
			Begin
		     If (@i < @HoldPeriod)
		        Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)

		     Select @i = @i + 1
		     Select @j = 1
		  End
		End
	End
End
Else If (@IsThisHoldDayOrPaidOutDay In ('B', 'C', 'D'))
Begin
	Select @HoldToRelease = @CurrentDate
	If (DatePart(DW,@CurrentDate) = 5 Or DatePart(DW,@CurrentDate) = 6)
	   Select @HoldPeriod = @HoldPeriod + 2

	Select @i = 1
	While (@i <= @HoldPeriod)
	Begin
		If (Exists(Select Holiday From Holidays With (NoLock) Where Holiday = Convert(Varchar,@HoldToRelease,101)))
		Begin
		  	Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)	
		End
		Else
		Begin
		  	If (@i <= @HoldPeriod)
			Begin
		     	Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)
			End
		  	Select @i = @i + 1
		End
	End
End
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

