SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

ALTER PROCEDURE dbo.Ach_Journal_Get_Data 
	@BankID Int
AS

If (@BankID In (6,11,12))
Begin
	Select BatchID, PRIID, Debit, Credit, DebitCount, CreditCount, OverDailyAmountLimitCount, OverItemAmount, MerchantID 
	From Batch With (NoLock) 
	Where ProcessedDate Is Null 
		And Exists (Select 'x' From AchMerchAddl With (NoLock) Where AchMerchAddl.PriID = Batch.PriID And BankID = @BankID) And TransBase Not In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR') 
		And Not Exists (Select RefID From Journal With (NoLock) Where RefID = Batch.BatchID And RefCode = 'B' And PriID <> 5999)
	Order By BatchID
End
Else If (@BankID In (10,14))
Begin
	Select BatchID, PRIID, Debit, Credit, DebitCount, CreditCount, OverDailyAmountLimitCount, OverItemAmount, MerchantID 
	From Batch With (NoLock) 
	Where ProcessedDate Is Null 
		And Exists (Select 'x' From AchMerchAddl With (NoLock) Where AchMerchAddl.PriID = Batch.PriID And BankID = @BankID) 
		And Not Exists (Select RefID From Journal With (NoLock) Where RefID = Batch.BatchID And RefCode = 'B')
	Order By BatchID
End
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

