SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


Alter Procedure dbo.Ach_Batch_Get_Data
	@BankID Int
AS

Set Nocount On

Declare	@sql_error_code Int,
	@rows_updated Int,
	@mesg Varchar (1024),
	@status Int

Declare @CurrentDate SmallDateTime
Declare @CutOffDate SmallDateTime

Select @CurrentDate = Convert(Varchar,Getdate(),101) + ' 09:00:00'
Select @CutOffDate = dbo.fn_GetCutOffDate(GetDate())

/***** Create Temp Table *****/
If exists (Select * From sysobjects Where id = object_id(N'Ach_Batch_Process_Incoming') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Drop Table Ach_Batch_Process_Incoming
Create Table dbo.Ach_Batch_Process_Incoming (PriID Int NULL)

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error creating Ach_Batch_Process_Incoming temp table for bank '  + Convert(Varchar,@BankID) + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_Batch'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully created Ach_Batch_Process_Incoming temp table for bank '  + Convert(Varchar,@BankID) + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_Batch'
End

/***** Populate Temp Table *****/
If (@BankID In (10, 11, 12, 14))
Begin
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (2, 101, 102, 202, 302, 352) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID And (IsThisHoldDayOrPaidOutDay Not In ('B', 'P', 'C') Or (IsThisHoldDayOrPaidOutDay In ('B', 'P', 'C') And Secc <> 'TEL'))) And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And PriID Not In (4438, 4692) And TransType In ('27', '37', '28', '38') --(4438, 4692) are test merchants
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID = 80 And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID And IsThisHoldDayOrPaidOutDay In ('B', 'P', 'C')) And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And TransType In ('22', '32') --Tier 1 merchants allow credits
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (2, 101, 102, 202, 302, 352) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID And (IsThisHoldDayOrPaidOutDay Not In ('B', 'P', 'C') Or (IsThisHoldDayOrPaidOutDay In ('B', 'P', 'C') And Secc <> 'TEL'))) And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And PriID Not In (4438, 4692) And TransType In ('27', '37', '28', '38') --Duplicate statement, can delete
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (2) And PriID In (5564, 5364, 5425, 5620) And Secc = 'T' And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And TransType In ('27', '37', '28', '38') --(5564, 5364, 5425, 5620) are draft merchants
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (2, 101, 102, 202, 302, 352) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID) And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And PriID Not In (4438, 4692) And TransType In ('22', '32')
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID = 80 And PriID In (Select PriID From AchMerchAddl Where BankID = @BankID And IsThisHoldDayOrPaidOutDay In ('B', 'P', 'C')) And (BatchID Is Null Or BatchID = 0) And (DateProcessed Is Null Or DateProcessed >= @CurrentDate) And TransType In ('22', '32')
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (8, 11, 15) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID And HoldPeriod <> 0) And (BatchID Is Null Or BatchID = 0) And DateProcessed >= @CutOffDate And PriID Not In (4438, 4692)
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (121, 122, 127, 128, 208, 211, 215, 221, 308, 311, 315, 321) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID) And (BatchID Is Null Or BatchID = 0) And DateProcessed Is Null And PriID Not In (4438, 4692)
End
Else If (@BankID In (6))
Begin
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID = 2 And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID)
	Insert Into Ach_Batch_Process_Incoming (PriID) Select Distinct PriID From IncomingTrans With (NoLock) Where StatusID In (8, 11, 15) And Exists (Select PriID From AchMerchAddl Where AchMerchAddl.PriID = IncomingTrans.PriID And BankID = @BankID And HoldPeriod <> 0) And (BatchID Is Null Or BatchID = 0) And DateProcessed >= @CutOffDate
End

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error populating Ach_Batch_Process_Incoming temp table for bank '  + Convert(Varchar,@BankID) + ' @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_Batch'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully populated Ach_Batch_Process_Incoming temp table for bank '  + Convert(Varchar,@BankID) + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_Batch'
End

Select Distinct PrIID From Ach_Batch_Process_Incoming Order by PriID


Error_Handler:
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

