SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS On 
GO

ALTER  Procedure dbo.Ach_Batch_NCT
	@BankID Int, 
	@PriID Int,
	@Source Nvarchar(2)
AS

Set NoCount On

Declare @CurrentDate SmallDateTime
Declare @CutOffDate SmallDateTime
Declare @DailyLimitAmount Decimal, @HoldPeriod Int, @ItemLimitAmount Decimal
Declare @OverDailyAmountPct Decimal, @CreateMultiBatch Nvarchar(1),@SettleBatchRightAway Nvarchar(1)
Declare @SettleDate Varchar(30)
Declare @CreditTotal Money, @DebitTotal Money, @CCount Int, @DCount Int
Declare @MerchantID Int, @BatchID Int, @NCT Varchar(3), @LastIntransID Int

Select @CurrentDate = Convert(Varchar,Getdate(),101) + ' 09:00:00'
Select @CutOffDate = dbo.fn_GetCutOffDate(GetDate())

Truncate Table Ach_Batch_Select_Incoming
Truncate Table Ach_Batch_FileBatchID
Truncate Table Ach_Batch_Select_Incoming_11

/***  Get Merchant Info ***/ 	
Select @DailyLimitAmount = DailyLimitAmount, @HoldPeriod = HoldPeriod, @ItemLimitAmount = ItemLimitAmount, @OverDailyAmountPct = OverDailyAmountPct, @CreateMultiBatch = CreateMultiBatch, @SettleBatchRightAway = SettleBatchRightAway From AchMerchAddl Where PriID = @PriID

If (@SettleBatchRightAway = 'Y')
Begin
	Select @SettleDate = GetDate()
End
Else
Begin
	Select @SettleDate = NULL
End

/***  Start Source TC Processing ***/ 	

/***  Start Source VA Processing ***/ 	
If (@Source = 'VA')
Begin
	Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B Where A.PriID = B.PriID And A.StatusID = 2 And A.PriID = @PriID And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.TransType In ('22', '32','27', '37')
	--Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B Where A.PriID = B.PriID And A.StatusID = 2 And A.PriID = @PriID And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And TransType In ('22', '32')

	Select @MerchantID = MerchantID, @NCT = Nct From [NB-Red].Central.dbo.Merchants Where Priid = @PriID

	If (@NCT <> 'PRI' And @NCT <> 'NCT')
	Begin
		If @HoldPeriod <> 0
		Begin
			Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B Where A.PriID = B.PriID And A.StatusID In (8, 11, 40, 41, 42) And A.PriID = @PriID And A.DateProcessed >= @CurrentDate And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID
		End
	End
	Else
	Begin
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B, NctInfo C Where A.PriID = B.PriID And A.StatusID In (101, 102, 121, 122, 127, 128, 202, 208, 215, 221, 302, 308, 315, 321) And A.PriID = @PriID And A.DateProcessed Is Null And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.Source In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR') And A.IntransID = C.IntransID And A.TransType In ('27', '37')
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B Where A.PriID = B.PriID And A.StatusID In (101, 102, 121, 122, 127, 128, 202, 208, 215, 221, 302, 308, 315, 321) And A.PriID = @PriID And A.DateProcessed Is Null And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.Source In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR') And  A.TransType In ('22', '32')
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A, AchMerchAddl B Where A.PriID = B.PriID And A.StatusID = 352 And A.PriID = @PriID And DateProcessed Is Null And NextProcessDate >= '06/10/04 00:00:00' And (BatchID Is Null Or BatchID = 0) And B.BankID = @BankID And Source In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR')
	End
	
	Insert Into Ach_Batch_Select_Incoming (IntransID,  Description, CompanyName, DescDate, TransType, Amount, StatusID, PriID, Secc, TransBase) Values (0, 'BatchEnd', 'PRI', '032404', '27', 0, 2, 999999, 'C', 'ZZ')
	--Create Index tmpIndex On Ach_Batch_Select_Incoming (Secc, CompanyName, Description, DescDate, IntransID, PriID, TransBase)
	Insert Into Ach_Batch_Select_Incoming_11 (TransBase) Select Distinct TransBase From Ach_Batch_Select_Incoming

	Declare cur2 Cursor
	Read_Only
	FOR Select TransBase From Ach_Batch_Select_Incoming_11 Where TransBase <> 'ZZ' Order By TransBase
	
	Declare @TransBase Varchar(2)
	Open cur2
	
	Fetch Next From cur2 Into @TransBase
	While (@@fetch_status <> -1)
	Begin
		If (@@fetch_status <> -2)
		Begin
			Select 
				@CreditTotal = Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then Amount Else 0 End),
				@DebitTotal = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then Amount Else 0 End),
				@CCount = Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then 1 Else 0 End),
				@DCount = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then 1 Else 0 End) 
			From Ach_Batch_Select_Incoming 
			Where  TransBase = @TransBase
			
			If @TransBase In ('VO', 'GO')
			Begin
				Insert Into Batch (PriID, PostedDate, DebitCount, Debit, CreditCount, Credit, MerchantID, SettleDate,TransBase, ToProcessDate) Values 
				(@PriID,GetDate(),@DCount,@DebitTotal,@CCount,@CreditTotal,@MerchantID,@SettleDate,@TransBase, GetDate())
			End
			Else
			Begin
				Insert Into Batch (PriID, PostedDate, DebitCount, Debit, CreditCount, Credit, MerchantID, SettleDate,TransBase) Values 
				(@PriID,GetDate(),@DCount,@DebitTotal,@CCount,@CreditTotal,@MerchantID,@SettleDate,@TransBase)
			End

			Select @BatchID = @@Identity
			
			--Begin Case
			If (@TransBase = 'VO')
			Begin
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (101, 127) And Source = 'VO' And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID = 121 And Source  = 'VO' And DateProcessed Is Null
			End
			Else If (@TransBase = 'GO')
			Begin
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (102, 128) And Source = 'GO' And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID = 122 And Source = 'GO' And DateProcessed Is Null
			End
			Else If (@TransBase In ('VA', 'VR'))
			Begin
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID = 202 Order By Secc, CompanyName, Description, DescDate
			
				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where  StatusID = 202 And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 
				
				Update IncomingTrans Set BatchID = @BatchID, StatusID = 207 Where PriID = @PriID And StatusID = 202 And Source = @TransBase And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (203, 208, 215, 221) And Source = @TransBase And DateProcessed Is Null
			End	
			Else If (@TransBase In ('GA', 'GR'))
			Begin
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID In (302, 352) Order By Secc, CompanyName, Description, DescDate
			
				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where StatusID In (302, 352) And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 
				
				Update IncomingTrans Set BatchID = @BatchID, StatusID = 307 Where PriID = @PriID And StatusID = 302 And Source = @TransBase And IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID = 302) And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, StatusID = 357 Where PriID = @PriID And StatusID = 352 And Source = @TransBase And IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID = 352) And DateProcessed Is Null							
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (308, 315, 321) And Source = @TransBase And DateProcessed Is Null
			End
			Else
			Begin
				--Insert records in Ach_Batch_FileBatchID to generate the FileBatchID in sequence order.  Truncate command must be used in order to reset the identity column to a value of 1
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID = 2 And TransBase = @TransBase Order By Secc, CompanyName, Description, DescDate
			
				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where a.StatusID = 2 And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 
							
				Update IncomingTrans Set BatchID = @BatchID, StatusID = 7 Where PriID = @PriID And StatusID = 2 And Source = @TransBase And DateProcessed Is Null
				Update Returns Set BatchID = @BatchID Where IntransID In (Select IntransID From Select_Incoming Where PriID = @PriID And StatusID Not In (2) And Source = @TransBase)
			End
			--End Case
							
			Update [NB-Red].Central.dbo.Merchants Set MonthlyAchTotal = MonthlyAchTotal + @DebitTotal Where MerchantID = @MerchantID
			Update BatchDetail Set Source = 'C' Where BatchID = @BatchID
			/*** Begin Managed Processed Merchants ***/
			If Exists(Select * From AcHDailyProcessForMerchants Where PriID =  @PriID And ProcessDate = Convert(Varchar,GetDate(),101) And Processed = 'N')
			Begin
				Update AcHDailyProcessForMerchants Set BatchID = @BatchID Where PriID = @PriID And ProcessDate = Convert(Varchar,GetDate(),101)
			End
			Else
			Begin
				Insert Into AcHDailyProcessForMerchants (PriID, ProcessDate, BatchID) Values (@PriID, Convert(Varchar,GetDate(),101),@BatchID )
			End
		End
		Fetch Next From cur2 Into @TransBase
	End
	
	Close cur2
	Deallocate cur2
End
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

