SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

ALTER  Procedure dbo.Ach_Batch_PayMyBill
	@BankID Int, 
	@PriID Int
AS

Set NoCount On
Declare	@sql_error_code Int,
	@rows_updated Int,
	@mesg Varchar (1024),
	@status Int

Declare @CutOffDate SmallDateTime

Select @CutOffDate = dbo.fn_GetCutOffDate(GetDate())

/***** Create Temp Table *****/
If exists (Select * From sysobjects Where id = object_id(N'Ach_Batch_Select_Incoming') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Drop Table Ach_Batch_Select_Incoming
Begin
	Create Table dbo.Ach_Batch_Select_Incoming (InTransID Int Null,  BatchID Int Null,  Description nVarChar (10) Null,  CompanyName nVarChar (16) Null,  DescDate nVarChar (6) Null,  TransType nVarChar (6) Null,  Amount Decimal (10, 2) Null,  StatusID Integer Null,  PriID Integer Null,  Secc nVarChar (1) Null,  TransBase nVarChar (2) Null )
	Create Index tmpIndex On dbo.Ach_Batch_Select_Incoming (Secc, CompanyName, Description, DescDate, IntransID, PriID)
End

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error creating Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID)  + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully created Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID)  + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

/***** Populate Temp Table *****/
Insert Into Ach_Batch_Select_Incoming (Secc, Description, CompanyName) Select A.Secc, A.Description, A.CompanyName From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 2 And B.PriID = @PriID And B.BankID = 6 Group By A.Secc, A.Description, A.CompanyName
Insert Into Ach_Batch_Select_Incoming (Secc, Description, CompanyName) Select A.Secc, A.Description, A.CompanyName From IncomingTrans A With (NoLock) , AchMerchAddl B With (NoLock) Where A.PriID = B.PrIID And A.StatusID In (8, 11, 15) And B.PriID = @PriID And (A.BatchID Is Null Or A.BatchID = 0) And A.DateProcessed >= @CutOffDate Group By A.Secc, A.Description, A.CompanyName

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error populating Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID)  + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully populated Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID)  + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

Declare @DailyLimitAmount Decimal, @HoldPeriod Int, @ItemLimitAmount Decimal
Declare @OverDailyAmountPct Decimal, @CreateMultiBatch Nvarchar(1),@SettleBatchRightAway Nvarchar(1)
Declare @SettleDate Varchar(30), @MerchantID Int

Select @MerchantID = MerchantID, @DailyLimitAmount = DailyLimitAmount, @HoldPeriod = HoldPeriod, @ItemLimitAmount = ItemLimitAmount, @OverDailyAmountPct = OverDailyAmountPct, @CreateMultiBatch = CreateMultiBatch, @SettleBatchRightAway = SettleBatchRightAway From AchMerchAddl Where PriID = @PriID
If (@SettleBatchRightAway = 'Y')
Begin
	Select @SettleDate = GetDate()
End
Else
Begin
	Select @SettleDate = 'Null'
End

/***** Create Batch *****/
Insert Into Batch (PriID, PostedDate, Secc, [Description],CompanyName,Debit,DebitCount, Credit,CreditCount , MerchantID, SettleDate) 
Select 
	@PriID, 
	GetDate() ,
	Secc, 
	[Description],
	CompanyName,
	Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then Amount Else 0 End) As Debit,
	Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then 1 Else 0 End) As DebitCount,
	Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then Amount Else 0 End) As Credit,
	Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then 1 Else 0 End) As CreditCount,
	@MerchantID,
	@SettleDate
From IncomingTrans 
Where StatusID = 2 And PriID = @PriID
Group By
	Secc, 
	[Description],
	CompanyName

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error inserting Batch record for PriID ' + Convert(Varchar,@PriID)  + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully inserted Batch record for PriID ' + Convert(Varchar,@PriID) + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

/***** Update transaction batchid *****/
Update IncomingTrans Set BatchID = b.BatchID From IncomingTrans a Inner join Batch b On a.Secc = b.Secc And a.Description = b.Description And a.CompanyName = b.CompanyName Where a.PriID = @PriID And a.StatusID = 2 And b.ProcessedDate Is Null

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error updating BatchID in IncomingTrans table for PriID ' + Convert(Varchar,@PriID)  + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully updated BatchID in IncomingTrans table for PriID ' + Convert(Varchar,@PriID)  + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

/***** Create batchdetails *****/
Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source) Select IntransID, 0, 0, BatchID,  @BankID,'C' From IncomingTrans Where PriID = @PriID And StatusID = 2

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error inserting Batchdetail records for PriID ' + Convert(Varchar,@PriID)  + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully inserted Batchdetail records for PriID ' + Convert(Varchar,@PriID)  + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

/*** Managed Processed Merchants ***/
/*
If Exists(Select * From AcHDailyProcessForMerchants Where PriID =  @PriID And ProcessDate = Convert(Varchar,GetDate(),101) And Processed = 'N')
	Update AcHDailyProcessForMerchants Set BatchID = @BatchID Where PriID = @PriID And ProcessDate = Convert(Varchar,GetDate(),101)
Else
	Insert Into AcHDailyProcessForMerchants (PriID, ProcessDate, BatchID) Values (@PriID, Convert(Varchar,GetDate(),101),@BatchID )
*/
/*** Set StatusID ***/
If (@SettleBatchRightAway = 'Y')
Begin
	Update IncomingTrans Set StatusID = 7 Where StatusID = 2 And PriID = @PriID
End
Else
Begin
	Update IncomingTrans Set StatusID = 18 Where StatusID = 2 And PriID = @PriID
End

--Code not use
--Update BatchDetail Set BankID = @BankID, Source = 'C', BatchID = @BatchID Where BatchID = -999

Update [NB-Red].Central.dbo.Merchants Set MonthlyAchTotal = MonthlyAchTotal +  IsNull((Select Sum(Debit) From Batch Where PriID = @PriID And ProcessedDate Is Null),0) Where MerchantID = @MerchantID

Error_Handler:
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

