SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

ALTER  Procedure dbo.Ach_Journal_Pri
 @BankID Int
AS

Set Nocount On

--cursor variables
Declare @BatchID Int, @PRIID Int, @Debit Money, @Credit Money, 
				@DebitCount Int, @CreditCount Int, @OverDailyAmountLimitCount Money, 
				@OverItemAmount Money, @MerchantID Int, @Transbase Nvarchar(2), @OrigBatchDate SmallDatetime,
				@OrigTransBase Nvarchar(2)

Declare @EntryDescription Nvarchar(60),
				@CurrentDate SmallDateTime, @HoldAmount Money, 
				@JournalAmount Money, @LastJournalID Int, 
				@FeeTotal Money, @TimesOfFile Int, @RefID Int, @HoldToRelease SmallDateTime,
				@Balance Money, @EFTDate SmallDateTime, @ReservedToRelease SmallDateTime, 
				@PendingID Int, @Available Money, @LastBatchID Int, @OkToPostPending Int,
				@NewRoutineNo Nvarchar(9), @BatchType Nvarchar(2)

Declare @JournalIDIn Int, @Amount Money, @HoldID Int

--Achmerchaddl variables
Declare @RsvPct Decimal(18,2), @RsrvTx Bit, @NameOnAcct Nvarchar(25), 
				@ItemFee Decimal(18,2), @RsvDay Int, @PullFundsFromAnotherAchID Int,
				@PostMethod Bit, @ProcessFee Decimal(18,2), @HoldOrPaidOut Nvarchar(50),
				@LoadFee Decimal(18,2), @Additional Decimal(18,2), @MaintFee Decimal(18,2),
				@FeePriID Int, @HoldDay Int, @ProcessType Nvarchar(1), @OverDraft Decimal(18,2),
				@TransRoute Nvarchar(9), @AccountNo Nvarchar(17), @MultiBatch Nvarchar(1), 
				@GuaranteeFee Decimal(18,2), @SettleBatchRightAway Nvarchar(1), @NechaID Nvarchar(6)

Select @CurrentDate = GetDate(), @HoldAmount = 0
Exec Ach_GetEFTDate @EFTDate Output
Select @EFTDate = Convert(Varchar,@EFTDate,101)

Exec Ach_GetReservedToReleaseDate @ReservedToRelease Output
Select @ReservedToRelease = Convert(Varchar,@ReservedToRelease,101)
Select @LastBatchID = 0

Declare cur CURSOR
READ_ONLY
FOR Select BatchID, PRIID, Debit, Credit, DebitCount, CreditCount, OverDailyAmountLimitCount, OverItemAmount, MerchantID 
		From Batch With (NoLock) 
		Where ProcessedDate Is Null 
		And PriID In (Select PriID From AchMerchAddl With (NoLock) Where BankID = @BankID) 
		And Not Exists (Select RefID From Journal With (NoLock) Where RefID = Batch.BatchID And RefCode = 'B')
		Order By BatchID

Open cur

Fetch Next From cur Into @BatchID, @PRIID, @Debit, @Credit, @DebitCount, @CreditCount, @OverDailyAmountLimitCount, @OverItemAmount, @MerchantID, @Transbase
While (@@fetch_status <> -1)
Begin
	If (@@fetch_status <> -2)
	Begin
		If @LastBatchID <> @BatchID
		Begin
			If @Transbase In ('GA','GR') 
			Begin
				Select 
					@RsvPct = Isnull(ReservePct,0), 
					@RsvDay = Isnull(ReservePeriod,0), 
					@HoldDay = Isnull(HoldPeriod,0), 
					@GuaranteeFee = Isnull(ItemFee,0) 
				From Central.dbo.NctTransactionIDs With (NoLock) 
				Where MerchantID = @MerchantID And Type = @Transbase
				
				If @@Rowcount = 0
					Select @RsvPct = 0,@RsvDay = 0,@HoldDay = 0,@GuaranteeFee = 0 
			End
			Else
			Begin
				Select @GuaranteeFee = Isnull(ItemFee,0) From NctTransactionIDs With (NoLock) Where MerchantID = @MerchantID And Type = @Transbase
				If @@Rowcount = 0
					Select @GuaranteeFee = 0 
				
				Select 
					@RsvPct = Isnull(ReservePct,0), 
					@RsvDay = Isnull(ReservePeriod,0), 
					@HoldDay = Isnull(HoldPeriod,0) 
				From AchMerchAddl With (NoLock) Where PriID = @PRIID
			
				If @@Rowcount = 0
					Select @RsvPct = 0,@RsvDay = 0,@HoldDay = 0
			End

			Select 
					@ItemFee = Isnull(ItemFee,0) , 
					@ProcessFee = Isnull(ProcessFee,0) , 
					@NameOnAcct = Isnull(dfiacctname,Replicate(' ',25)), 
					@TransRoute = IsNull(TransRoute,Replicate(' ',9)), 
					@AccountNo = IsNull(AccountNo,Replicate(' ',17)),
					@FeePriID = IsNull(TrxFeeToAcct,0) ,
					@SettleBatchRightAway = IsNull(SettleBatchRightAway,'N'),
					@NechaID = NechaID
			From AchMerchAddl With (NoLock) Where PriID = @PRIID

			If @@Rowcount = 0
				Select 
					@ItemFee = 0, 
					@ProcessFee = 0, 
					@NameOnAcct = Replicate(' ',25), 
					@TransRoute = Replicate(' ',9), 
					@AccountNo = Replicate(' ',17),
					@FeePriID = 0,
					@SettleBatchRightAway = 'N',
					@NechaID = Replicate('0',5 - Len(@PriID)) + Convert(Varchar,@PriID)

			Select @NewRoutineNo = NewRoutineNo From BankRoutineNo With (NoLock) Where RoutineNumber = @TransRoute And OkToAch = 'Y'

			If @@Rowcount = 0
				Select @OkToPostPending = 1
			Else
			Begin
				If Ltrim(Rtrim(@TransRoute)) = ''
					Select @OkToPostPending = 1
				Else
				Begin
					Select @OkToPostPending = 0
					If @NewRoutineNo <> '000000000'
						Select @TransRoute = @NewRoutineNo
				End
			End
			
		
			If @OkToPostPending = 0
			Begin
				If Exists(Select ReasonCode From Returns With (NoLock) Where TransRoute = @TransRoute And EncryptAccountNo = dbo.fn_encrypt(@AccountNo) And PriID = @PRIID And TransType In ('27', '37') And ReasonCode In ('R02', 'R03', 'R04', 'R07', 'R10', 'R12', 'R15', 'R24', 'R29'))
					Select @OkToPostPending = 1
			End	
		
			Update AchMerchAddl Set Balance = @Balance Where PriID = @PriID
		
			Select @LastBatchID = @BatchID 
			Select @BatchType = @Transbase
		End

		-------------------------------------------------------------------------
		Exec Ach_GetHoldToReleaseDate @HoldToRelease Output,@CurrentDate,@HoldOrPaidOut,@HoldDay
		-------------------------------------------------------------------------
		--@TimesOfFile is use to access monthly fees
		-------------------------------------------------------------------------
		Select @TimesOfFile = Count(*) From Batch Where PostedDate >= Convert(Varchar,Month(GetDate())) + '/01/' + Convert(Varchar,Year(GetDate())) And PostedDate < Convert(Varchar,Month(DateAdd(Month,1,GetDate()))) + '/01/' + Convert(Varchar,Year(GetDate())) 
		And PriID = @PRIID
		
		If @TimesOfFile = 0
			Select @TimesOfFile = 1
		-------------------------------------------------------------------------
		--Release reserve if there is any.
		-------------------------------------------------------------------------
		Select @Balance = 0,@Available = 0

		If @BatchType Not In ('GA','GR')
		Begin
			DECLARE cur2 CURSOR READ_ONLY FOR 
				Select A.JournalIDIn, A.Amount, A.HoldID From Hold A With (NoLock), AchMerchAddl B With (NoLock) 
				Where A.DateToRelease <= @ReservedToRelease And A.Type = 'V' And A.DatePaid Is Null And A.PriID = B.PriID And A.PriID = @PriID And B.StopEFTFrom = 'N' Order By HoldID
			
			Open cur2
			
			Fetch Next From cur2 Into @JournalIDIn, @Amount, @HoldID
			While (@@fetch_status <> -1)
			Begin
				If (@@fetch_status <> -2)
				Begin
					Select @RefID = RefID From Journal With (NoLock) Where JournalID = @JournalIDIn And PriID = @PriID And RefCode = 'V'
					
					If Exists(Select PostedDate, TransBase From Batch With (NoLock) Where BatchID = @RefID And PriID = @PriID)
						Select @OrigBatchDate = PostedDate, @OrigTransBase = TransBase From Batch With (NoLock) Where BatchID = @RefID And PriID = @PriID
					Else
						Select @OrigBatchDate = '01/01/04', @OrigTransBase = 'VA'
	
					Select @EntryDescription = 'Release of Reserved on '
					Select @EntryDescription = @EntryDescription + Substring(Convert(Varchar,@OrigBatchDate,101),1,6) 
					Select @EntryDescription = @EntryDescription + Substring(Convert(Varchar,@OrigBatchDate,101),9,2) 
					Select @EntryDescription = @EntryDescription + ' for ' + @OrigTransBase + ' batch'
					Exec Ach_PostJournal @CurrentDate,@JournalIDIn,@PriID,@EntryDescription,'X', @Amount,@HoldID,0
					Select @LastJournalID = @@Identity

					Update Hold Set Datepaid = GetDate(), JournalIDPaid = @LastJournalID Where HoldID = @HoldID
				End
				Fetch Next From cur2 Into @JournalIDIn, @Amount, @HoldID
			End
			
			Close cur2
			Deallocate cur2

			Select @Balance = Sum(Amount) From Journal With (NoLock) Where PriID = @PriID And RefCode In ('B', 'N', 'F', 'R', 'C', 'P', 'E', 'S', 'Z')
			Select @Available = Sum(Amount) From Journal With (NoLock) Where PriID = @PriID And RefCode In ('B', 'N', 'F', 'R', 'C', 'P', 'E', 'S', 'Z','V', 'H', 'X')
		End

		Select @Balance = Sum(Amount) From Journal With (NoLock) Where PriID = @PriID And RefCode In ('B', 'N', 'F', 'R', 'C', 'P', 'E', 'S', 'Z')
		Select @Available = Sum(Amount) From Journal With (NoLock) Where PriID = @PriID And RefCode In ('B', 'N', 'F', 'R', 'C', 'P', 'E', 'V', 'H', 'X')

		Select @HoldAmount = 0
		-------------------------------------------------------------------------
		--Journal Debit
		-------------------------------------------------------------------------
		If @Debit <> 0
		Begin
			If @Transbase In ('GA','GR')
				Select @HoldAmount = 0, @Available = 0
			Else
				Select @HoldAmount = @HoldAmount + @Available

			Select @JournalAmount = @Debit

			If @Transbase In ('GA','GR')
			Begin
				Select @EntryDescription = 'Debit (Guarantee W/ ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
			Else If @Transbase In ('VA','VR')
			Begin
				Select @EntryDescription = 'Debit (Verify W/ ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
			Else If @Transbase In ('VO')
			Begin
				Select @EntryDescription = 'Debit (Verify W/O ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'T', @JournalAmount,0,0
			End
			Else If @Transbase In ('GO')
			Begin
				Select @EntryDescription = 'Debit (Guarantee W/O ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'T', @JournalAmount,0,0
			End
			Else 
			Begin
				Select @EntryDescription = 'Debit (Regular ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
		End

		If @Transbase Not In ('GO','VO')
		Begin
			Update AchMerchAddl Set Balance = Balance + @Debit Where PriID = @PriID
			Select @HoldAmount = @HoldAmount + @Debit
		End
		-------------------------------------------------------------------------
		--Journal Credit
		-------------------------------------------------------------------------
		If @Credit <> 0
		Begin
			Select @JournalAmount = -1 * @Credit

			If @Transbase In ('GA','GR')
			Begin
				Select @EntryDescription = 'Credit (Guarantee W/ ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
			Else If @Transbase In ('VA','VR')
			Begin
				Select @EntryDescription = 'Credit (Verify W/ ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
			Else If @Transbase In ('VO')
			Begin
				Select @EntryDescription = 'Credit (Verify W/O ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'T', @JournalAmount,0,0
			End
			Else If @Transbase In ('GO')
			Begin
				Select @EntryDescription = 'Credit (Guarantee W/O ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'T', @JournalAmount,0,0
			End
			Else 
			Begin
				Select @EntryDescription = 'Credit (Standard ACH Settlement)'
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B', @JournalAmount,0,0
			End
		End

		If @Transbase Not In ('GO','VO')
		Begin
			Update AchMerchAddl Set Balance = Balance - @Credit Where PriID = @PriID
			Select @HoldAmount = @HoldAmount - @Credit
		End
		-------------------------------------------------------------------------
		--Journal Reserve Percentage
		-------------------------------------------------------------------------
		If @Debit > 0 And @RsvPct <> 0 And @Transbase Not In ('GO','VO')
		Begin
				Select @EntryDescription = 'Funds Reserved Until ' + Convert(Varchar, DateAdd(Day,@RsvDay,GetDate()),1)
				Select @JournalAmount = -1 * Round((@Debit * (@RsvPct / 100)), 2)
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'V', @JournalAmount,0,0
				Select @LastJournalID = @@Identity	
			
				Select @JournalAmount = Round((@Debit * (@RsvPct / 100)), 2)
				Select @HoldAmount = @HoldAmount - @JournalAmount

				Insert Into Hold (JournalIDIn, PriID, PostedDate, DateToRelease, Amount, Type, ReleaseThisHold) 
				Values (@LastJournalID, @PriID, GetDate(), Convert(Varchar,DateAdd(Day,@RsvDay,GetDate()), 101), @JournalAmount, 'V', 'N')
				Select @HoldID = @@Identity
				
				Update Journal Set HoldID = @HoldID Where JournalID = @LastJournalID
		End
		-------------------------------------------------------------------------
		--Journal Guarantee Fee
		-------------------------------------------------------------------------
		If @GuaranteeFee <> 0
		Begin
				Select @EntryDescription =  Replicate('0', 7 - Len(@DebitCount + @CreditCount)) 
				Select @EntryDescription = @EntryDescription + Convert(Varchar,@DebitCount + @CreditCount) 
				Select @EntryDescription = @EntryDescription + ' items @ ' + Convert(Varchar,Round(@GuaranteeFee, 2))

				Select @JournalAmount = -1 * Round(((@DebitCount + @CreditCount) * @GuaranteeFee), 2)
				Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F', @JournalAmount,0,0

				Select @JournalAmount = Round(((@DebitCount + @CreditCount) * @GuaranteeFee), 2)
				If @PullFundsFromAnotherAchID = 0			
						Select @HoldAmount = @HoldAmount - @JournalAmount	

				Update AchMerchAddl Set Balance = Balance - @JournalAmount Where PriID = @PRIID
				Select @FeeTotal = @FeeTotal + @JournalAmount
		End
		-------------------------------------------------------------------------
		--Journal Item Fee
		-------------------------------------------------------------------------
		If @ItemFee <> 0 
		Begin
			Select @EntryDescription =  Replicate('0', 7 - Len(@DebitCount + @CreditCount)) 
			Select @EntryDescription = @EntryDescription + Convert(Varchar,@DebitCount + @CreditCount) 
			Select @EntryDescription = @EntryDescription + ' items @ ' + Convert(Varchar,Round(@ItemFee, 2))
			Select @JournalAmount = -1 * Round(((@DebitCount + @CreditCount) * @ItemFee), 2)
			Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F',@JournalAmount ,0,0			
			Select @LastJournalID = @@Identity

			Select @JournalAmount = Round(((@DebitCount + @CreditCount) * @ItemFee), 2)
			If @PullFundsFromAnotherAchID = 0			
					Select @HoldAmount = @HoldAmount - @JournalAmount	

			Update AchMerchAddl Set Balance = Balance - @JournalAmount Where PriID = @PRIID
			Select @FeeTotal = @FeeTotal + @JournalAmount
		End
		-------------------------------------------------------------------------
		--Journal Processing Fee
		-------------------------------------------------------------------------
		If @ProcessFee <> 0 
		Begin
			Select @JournalAmount = -1 * Round(Abs(@Debit + @Credit) * (@ProcessFee / 100), 2)

			Select @EntryDescription =  Convert(Varchar,@ProcessFee) + '% Process Fee'
			Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F', @JournalAmount,0,0			
			Select @LastJournalID = @@Identity

			Select @JournalAmount = Round(Abs(@Debit + @Credit) * (@ProcessFee / 100), 2)

			Update AchMerchAddl Set Balance = Balance - @JournalAmount Where PriID = @PRIID
			Select @FeeTotal = @FeeTotal + @JournalAmount
		End
		-------------------------------------------------------------------------
		--Journal File Load Fee
		-------------------------------------------------------------------------
		If @LoadFee <> 0 
		Begin
			If @TimesOfFile = 1 Or @Additional = 0 
				Select @JournalAmount = -1 * @LoadFee
			Else
				Select @JournalAmount = -1 * @Additional

			Select @EntryDescription = 'File Input Fee'
			Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F',@JournalAmount ,0,0			
			Select @LastJournalID = @@Identity

			If @TimesOfFile = 1 Or @Additional = 0 
				Select @JournalAmount = @LoadFee
			Else
				Select @JournalAmount = @Additional

			If (@PullFundsFromAnotherAchID = 0)			
					Select @HoldAmount = @HoldAmount - Round(@JournalAmount,2)

			Update AchMerchAddl Set Balance = Balance - Round(@JournalAmount,2) Where PriID = @PRIID
			Select @FeeTotal = @FeeTotal + @JournalAmount
		End
			-------------------------------------------------------------------------
			--Journal Statement Fee
			-------------------------------------------------------------------------
		If @MaintFee <> 0 And @Additional = 1
		Begin
			Select @JournalAmount = -1 * @MaintFee

			Select @EntryDescription =  'Account Maintenance Fee'
			Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F',@JournalAmount ,0,0			
			Select @LastJournalID = @@Identity

			Select @JournalAmount = @MaintFee

			If (@PullFundsFromAnotherAchID = 0)			
					Select @HoldAmount = @HoldAmount - Round(@JournalAmount	,2)

			Update AchMerchAddl Set Balance = Balance - Round(@JournalAmount	,2) Where PriID = @PRIID
			Select @FeeTotal = @FeeTotal + @JournalAmount
		End

		-------------------------------------------------------------------------
		--Dealing With Item Fee and stuff that was taking off from other account
		-------------------------------------------------------------------------
		If @TransBase Not In ('GO','VO')
		Begin
			If @Debit > 0
			Begin
				If @FeePriID <> 0 And @FeePriID <> @PriID
				Begin
					Select Top 1 @LastJournalID = JournalID From Journal With (NoLock) Where PostedDate >= Convert(Varchar,GetDate(),101) + ' 00:09:25' And RefCode = 'J' Order BY JournalID
					If @LastJournalID Is Null
					Begin
						Select Top 1 JournalID From Journal With (NoLock) Where PostedDate >= Convert(Varchar,GetDate(),101) + ' 00:09:25' And RefCode = 'B' Order BY JournalID
						If @LastJournalID Is Null
							Select @LastJournalID = 0
					End
					
					Select @FeeTotal = Sum(Amount) From Journal With (NoLock) Where JournalID >= @LastJournalID And RefCode In ('E', 'F') And PriID = @PriID And CommissionCategory Between 1 And 8
					Select @EntryDescription =  'TrxFees To ACT' + Replicate('0', 5 - Len(@FeePriID)) + @FeePriID
					Select @JournalAmount = -1 * @FeeTotal
					Exec Ach_PostJournal @CurrentDate,0,@PriID,@EntryDescription,'C',@JournalAmount,0,0		
		
					Select @LastJournalID = @@Identity	
					Select @EntryDescription =  'TrxFees To ACT' + Replicate('0', 5 - Len(@PriID)) + @PriID
					Exec Ach_PostJournal @CurrentDate,@LastJournalID,@FeePriID,@EntryDescription,'C',@FeeTotal ,0,0		
					Select @RefID = @@Identity
					Update Journal Set RefID = @RefID Where JournalID = @LastJournalID
				
					Update AchMerchAddl Set Balance = Balance + @FeeTotal Where PriID = @PriID

					Select @HoldAmount = @HoldAmount + @FeeTotal
				End
				-------------------------------------------------------------------------
				--Dealing with withdraw funds from Debit processing account instead of from bank
				-------------------------------------------------------------------------
				If @PullFundsFromAnotherAchID <> 0
				Begin
					Select @EntryDescription =  'ACH Withdraw From ACT' + Replicate('0', 5 - Len(@PullFundsFromAnotherAchID)) + @PullFundsFromAnotherAchID
					Exec Ach_PostJournal @CurrentDate,0,@PriID,@EntryDescription,'C',@Credit,0,0		
					Select @LastJournalID = @@Identity	
		
					Select @EntryDescription =  'ACH Withdraw From ACT' + Replicate('0', 5 - Len(@PriID)) + @PriID
					Select @JournalAmount = -1 * @Credit
					Exec Ach_PostJournal @CurrentDate,@LastJournalID,@PullFundsFromAnotherAchID,@EntryDescription,'C',@JournalAmount ,0,0		
					Select @RefID = @@Identity
					Update Journal Set RefID = @RefID Where JournalID = @LastJournalID
				
					Update AchMerchAddl Set Balance = Balance + @Credit Where PriID = @PriID
				End
				-------------------------------------------------------------------------
				If @HoldAmount <> 0
				Begin
					If @TransBase In ('GA','GR')
					Begin
						Select @JournalAmount = Isnull(Sum(Amount),0) From IncomingTrans With (NoLock) Where BatchID = @BatchID And PriID = @PriID And StatusID Not In (307, 357)
						If @@Rowcount > 0
						Begin
							If @JournalAmount > 0
							Begin
								Select @JournalAmount = -1 * @JournalAmount
								Select @EntryDescription =  'Reject by NCT Guarantee W/ ACH Settlement Batch ' + Convert(Varchar,@BatchID)
								Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B',@JournalAmount,0,0		
							End
						End
					End
					Else If @TransBase In ('VA','VR')
					Begin
						Select @JournalAmount = Isnull(Sum(Amount),0) From IncomingTrans With (NoLock) Where BatchID = @BatchID And PriID = @PriID And StatusID Not In (207, 218)
						If @@Rowcount > 0
						Begin
							If @JournalAmount > 0
							Begin
								Select @JournalAmount = -1 * @JournalAmount
								Select @EntryDescription =  'Reject by NCT Verify W/ ACH Settlement Batch ' + Convert(Varchar,@BatchID)
								Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'B',@JournalAmount,0,0		
							End
						End
					End
					If @HoldAmount > 0
					Begin
						Select @JournalAmount = -1 * @HoldAmount
						Select @EntryDescription =  'Funds Available On ' + Convert(Varchar,@HoldToRelease,1)
						Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'H',@JournalAmount,0,0
						Select @LastJournalID = @@Identity	

						Insert Into Hold (JournalIDIn, PriID, PostedDate, DateToRelease, Amount, Type, ReleaseThisHold) 
						Values (@LastJournalID, @PriID, GetDate(), Convert(Varchar,@HoldToRelease,101), @HoldAmount , 'H', 'N')
						Select @HoldID = @@Identity	
						
						Update Journal Set HoldID = @HoldID Where JournalID = @LastJournalID
					End
				End

				Select @Balance = Sum(Amount) From Journal With (NoLock) Where PriID = @PriID And RefCode In ('B', 'N', 'F', 'R', 'C', 'P', 'E', 'S', 'Z','V','H','X')
				
				If @Balance < 0
				Begin
					If @OkToPostPending = 0
					Begin	
						If @OverDraft > 0
						Begin
							Select @JournalAmount = -1 * @OverDraft
							Select @EntryDescription =  'OverDraft Fee'
							Exec Ach_PostJournal @CurrentDate,@BatchID,@PriID,@EntryDescription,'F',@JournalAmount,0,0
							Select @LastJournalID = @@Identity	
				
							Select @Balance = @Balance - @OverDraft
						End
					
						Select @EntryDescription =  'EFT From ' + Rtrim(@TransRoute) + ':' + Rtrim(@AccountNo)
						Select @JournalAmount = -1 * @Balance
						Exec Ach_PostJournal @EFTDate,@BatchID,@PriID,@EntryDescription,'C',@JournalAmount,0,0			
						Select @LastJournalID = @@Identity

						If @PriID Not IN (334,3192)
							Insert Into Pending (PriID, PostedDate, TransType, Amount, JournalID, Description, Type, TransRoute, AccountNo, NameOnAcct) 
							Values (@PriID, GetDate(), '27',@JournalAmount,@LastJournalID, 'PREAUTH DR', 'J',@TransRoute,@AccountNo,@NameOnAcct)
						Else
							Insert Into Pending (PriID, PostedDate, TransType, Amount, JournalID, Description, Type, TransRoute, AccountNo, NameOnAcct) 
							Values (@PriID, GetDate(), '37', @JournalAmount,@LastJournalID , 'PREAUTH DR', 'J',@TransRoute,@AccountNo,@NameOnAcct)
							
						Select @PendingID = @@Identity
						Update Journal Set RefID = @PendingID Where JournalID = @LastJournalID
					End
					Else
					Begin
						Select Top 1 @LastJournalID = JournalID From Journal With (NoLock) Where PriID = @PriID Order By JournalID Desc
						Insert Into AchUncollectableFundsRegister (PriID, DateOfDebits, AmountWantToDebit, LastJournalID, Type) Values (@PriID, GetDate(),@Balance,@LastJournalID , 'R')

						If @OverDraft > 0
						Begin
							Insert Into AchUncollectableFundsRegister (PriID, DateOfDebits, AmountWantToDebit, LastJournalID, Type) 
							Values (@PriID, GetDate(),@OverDraft,@LastJournalID, 'F')
						End
					End
				End
			End
		End
		
		Update Batch Set ProcessedDate = GetDate() Where BatchID = @BatchID
		Update BatchDetail Set ProcessedDate = GetDate() Where BatchID = @BatchID
		
		If @TransBase In ('GA','GR')
			Update IncomingTrans Set StatusID = 304, DateProcessed = GetDate() Where BatchID = @BatchID And StatusID In (307, 357)
		Else If @TransBase In ('VA','VR')
		Begin
			If @SettleBatchRightAway = 'Y'
				Update IncomingTrans Set StatusID = 204, DateProcessed = GetDate() Where BatchID = @BatchID And StatusID = 207
			Else
				Update IncomingTrans Set StatusID = 217 Where BatchID = @BatchID And StatusID = 218
		End
		Else If @TransBase In ('VO')
			Update IncomingTrans Set StatusID = 125 Where BatchID = @BatchID And StatusID = 101 And DateProcessed >= Convert(Varchar,GetDate(),101)
		Else If @TransBase In ('GO')
			Update IncomingTrans Set StatusID = 126 Where BatchID = @BatchID And StatusID = 102 And DateProcessed >= Convert(Varchar,GetDate(),101)
		Else If @TransBase In ('AO')
		Begin
			If @SettleBatchRightAway = 'Y'
				Update IncomingTrans Set StatusID = 4, DateProcessed = GetDate() Where BatchID = @BatchID And StatusID = 7
			Else
				Update IncomingTrans Set StatusID = 17, DateProcessed = GetDate() Where BatchID = @BatchID And StatusID = 18
		End

	End
	Fetch Next From cur Into @BatchID,@PRIID,@Debit,@Credit,@DebitCount,@CreditCount,@OverDailyAmountLimitCount,@OverItemAmount,@MerchantID,@Transbase
End

Close cur
Deallocate cur

Exec Ach_Journal_PRI_HoldRelease @BankID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

