SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


/*
	This store procedure batches by DescDate, Description,  Secc,  CompanyName for Fifth Third bank
*/
ALTER   Procedure dbo.Ach_Batch_FifthThird
	@BankID Int, 
	@PriID Int,
	@Source Nvarchar(2)
AS

Set NoCount On

Declare	@sql_error_code Int,
	@rows_updated Int,
	@mesg Varchar (1024),
	@status Int

Declare @CurrentDate SmallDateTime
Declare @CutOffDate SmallDateTime
Declare @DailyLimitAmount Decimal, @HoldPeriod Int, @ItemLimitAmount Decimal
Declare @OverDailyAmountPct Decimal, @CreateMultiBatch Nvarchar(1),@SettleBatchRightAway Nvarchar(1)
Declare @SettleDate Varchar(30)
Declare @CreditTotal Money, @DebitTotal Money, @CCount Int, @DCount Int
Declare @MerchantID Int, @BatchID Int, @NCT Varchar(3), @LastIntransID Int

Select @CurrentDate = Convert(Varchar,Getdate(),101) + ' 09:00:00'
Select @CutOffDate = dbo.fn_GetCutOffDate(GetDate())

/***  Create Temp Table ***/ 	

If exists (Select * From sysobjects Where id = object_id(N'Ach_Batch_Select_Incoming') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Drop Table Ach_Batch_Select_Incoming
Create Table dbo.Ach_Batch_Select_Incoming (InTransID Int Null,  BatchID Int Null,  Description nVarChar (10) Null,  CompanyName nVarChar (16) Null,  DescDate nVarChar (6) Null,  TransType nVarChar (6) Null,  Amount Decimal (10, 2) Null,  StatusID Integer Null,  PriID Integer Null,  Secc nVarChar (1) Null,  TransBase nVarChar (2) Null )
If exists (Select * From sysobjects Where id = object_id(N'Ach_Batch_FileBatchID') and OBJECTPROPERTY(id, N'IsUserTable') = 1) Drop Table Ach_Batch_FileBatchID
Create Table dbo.Ach_Batch_FileBatchID (FileBatchID Int Identity (1, 1) Not Null,  DescDate nVarChar (6) Null, Description nVarChar (10) Null,  Secc nVarChar (1) Null,  CompanyName nVarChar (16) Null)
if exists (select * from sysobjects where id = object_id(N'Ach_Batch_Select_Incoming_11') and OBJECTPROPERTY(id, N'IsUserTable') = 1) drop table Ach_Batch_Select_Incoming_11
Create Table dbo.Ach_Batch_Select_Incoming_11 (TransBase [nVarChar] (2) Null )

Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
If (@sql_error_code <> 0)
Begin
      Set @mesg = 'Error creating Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID) + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'

      Goto Error_Handler
End
Else
Begin
      Set @mesg = 'Successfully created Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID) + '.'
      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
End

/***  Get Merchant Info ***/ 	
Select @DailyLimitAmount = DailyLimitAmount, @HoldPeriod = HoldPeriod, @ItemLimitAmount = ItemLimitAmount, @OverDailyAmountPct = OverDailyAmountPct, @CreateMultiBatch = CreateMultiBatch, @SettleBatchRightAway = SettleBatchRightAway From AchMerchAddl Where PriID = @PriID

If (@SettleBatchRightAway = 'Y')
Begin
	Select @SettleDate = GetDate()
End
Else
Begin
	Select @SettleDate = NULL
End

/***  Start Source TC Processing ***/ 	
If (@Source = 'TC')
Begin
	If (@HoldPeriod <> 0)
	Begin
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID In (2, 8, 11, 40, 41, 42) And B.PriID = @PriID And (A.DateProcessed >= @CutOffDate Or A.DateProcessed Is Null) And A.NextProcessDate >= '03/26/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PriID, Secc) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 15 And B.PriID = @PriID And A.DateProcessed Is Not Null And B.BankID = @BankID		
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PriID, Secc) Values (0, 'BatchEnd', 'PRI', '032404', '27', 0, 2, 999999, 'C')

		Select @sql_error_code = @@ERROR,@rows_updated  = @@ROWCOUNT
		If (@sql_error_code <> 0)
		Begin
		      Set @mesg = 'Error populating Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID) + '. @@ERROR = '+ CONVERT(VARCHAR, @sql_error_code)
		      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'E', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
		
		      Goto Error_Handler
		End
		Else
		Begin
		      Set @mesg = 'Successfully populated Ach_Batch_Select_Incoming temp table for PriID ' + Convert(Varchar,@PriID) + '.'
		      Execute  @status = sp_log_achprocess_i @job_inst_id = 1, @svr_lvl_cd = 'I', @log_txt = @mesg, @src_syst_cd = 'Ach_PostBatch_PayMyBill'
		End
	End
	Else
	Begin
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, Secc, PriID) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, A.Secc, B.PriID From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 2 And B.PriID = @PriID And A.NextProcessDate <= GetDate()
	End

	Create Index tmpIndex On dbo.Ach_Batch_Select_Incoming (Secc, CompanyName, Description, DescDate, IntransID, PriID)
			
	Select 
		@CreditTotal = Sum(Case When SubString(TransType, 2, 1) In ('2', '1') Then Amount Else 0 End),
		@DebitTotal = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then Amount Else 0 End),
		@CCount = Sum(Case When SubString(TransType, 2, 1) In ('2', '1') Then 1 Else 0 End),
		@DCount = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then 1 Else 0 End) 
	From Ach_Batch_Select_Incoming 
	Where  PriID <> 999999
	
	Insert Into Batch (PriID, PostedDate, DebitCount, Debit, CreditCount, Credit, MerchantID, SettleDate) Values 
	(@PriID,GetDate(),@DCount,@DebitTotal,@CCount,@CreditTotal,@MerchantID,@SettleDate )
	
	Select @BatchID = @@Identity
	
	/*** Begin Managed Processed Merchants ***/
	If (Exists(Select * From AcHDailyProcessForMerchants Where PriID =  @PriID And ProcessDate = Convert(Varchar,GetDate(),101) And Processed = 'N'))
	Begin
		Update AcHDailyProcessForMerchants Set BatchID = @BatchID Where PriID = @PriID And ProcessDate = Convert(Varchar,GetDate(),101)
	End
	Else
	Begin
		Insert Into AcHDailyProcessForMerchants (PriID, ProcessDate, BatchID) Values (@PriID, Convert(Varchar,GetDate(),101),@BatchID )
	End

	If (@SettleBatchRightAway = 'Y')
	Begin
		Update IncomingTrans Set BatchID = @BatchID, StatusID = 7 Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID In (2))
		Update IncomingTrans Set BatchID =  @BatchID Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID Not In (2))
	End
	Else
	Begin
		Update IncomingTrans Set BatchID = @BatchID, StatusID = 18 Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID = 2)
		Update IncomingTrans Set BatchID = @BatchID Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where StatusID <> 2)
	End
	
	Truncate Table Ach_Batch_FileBatchID
	Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID in (2) And PriID <> 999999 Order By Secc, CompanyName, Description, DescDate

	--Create batchdetail records
	Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
	Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
	From Ach_Batch_Select_Incoming a 
		Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
	Where StatusID in (2) And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 

	Update [NB-Red].Central.dbo.Merchants Set MonthlyAchTotal = MonthlyAchTotal +  @DebitTotal Where MerchantID = @MerchantID
	Update Returns Set BatchID =  @BatchID Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where PriID = @PriID And StatusID Not In (2))
End
/***  Start Source VA Processing ***/ 	
If (@Source = 'VA')
Begin
	Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 2 And A.PriID = @PriID And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.TransType In ('22', '32','27', '37')
	--Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 2 And A.PriID = @PriID And A.NextProcessDate >= '06/10/04 00:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.TransType In ('22', '32')
	Select @NCT = Nct From [NB-Red].Central.dbo.Merchants Where Priid = @PriID
	
	If (@NCT <> 'PRI' And @NCT <> 'NCT')
	Begin
		If (@HoldPeriod <> 0)
			Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID In (8, 11, 40, 41, 42) And A.PriID = @PriID And DateProcessed >= @CurrentDate And NextProcessDate >= '06/10/04 00:00:00' And (BatchID Is Null Or BatchID = 0) And B.BankID = @BankID
	End
	Else
	Begin
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID In (101, 102, 121, 122, 127, 128, 202, 208, 215, 221, 302, 308, 315, 321) And A.PriID = @PriID And A.DateProcessed Is Null And NextProcessDate >= '06/10/04 12:00:00' And (A.BatchID Is Null Or A.BatchID = 0) And B.BankID = @BankID And A.Source In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR')
		Insert Into Ach_Batch_Select_Incoming (IntransID, Description, CompanyName, DescDate, TransType, Amount, StatusID, PrIID, Secc, TransBase) Select A.IntransID, A.Description, A.CompanyName, A.DescDate, A.TransType, A.Amount, A.StatusID, B.PriID, A.Secc, A.Source From IncomingTrans A With (NoLock), AchMerchAddl B With (NoLock) Where A.PriID = B.PriID And A.StatusID = 352 And A.PriID = @PriID And DateProcessed Is Null And NextProcessDate >= '06/10/04 12:00:00' And (BatchID Is Null Or BatchID = 0) And B.BankID = @BankID And Source In ('VO', 'GO', 'VA', 'GA', 'VR', 'GR')
	End
	
	Insert Into Ach_Batch_Select_Incoming (IntransID,  Description, CompanyName, DescDate, TransType, Amount, StatusID, PriID, Secc, TransBase) Values (0, 'BatchEnd', 'PRI', '032404', '27', 0, 2, 999999, 'C', 'ZZ')
	Create Index tmpIndex On Ach_Batch_Select_Incoming (Secc, CompanyName, Description, DescDate, IntransID, PriID, TransBase)
	Insert Into Ach_Batch_Select_Incoming_11 (TransBase) Select Distinct TransBase From Ach_Batch_Select_Incoming

	Declare cur2 Cursor
	Read_Only
	FOR Select TransBase From Ach_Batch_Select_Incoming_11 Where TransBase <> 'ZZ' Order By  TransBase
	
	Declare @TransBase Varchar(2)
	Open cur2
	
	Fetch Next From cur2 Into @TransBase
	While (@@fetch_status <> -1)
	Begin
		If (@@fetch_status <> -2)
		Begin
			Select 
				@CreditTotal = Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then Amount Else 0 End),
				@DebitTotal = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then Amount Else 0 End),
				@CCount = Sum(Case When SubString(TransType, 2, 1) In ('2', '3') Then 1 Else 0 End),
				@DCount = Sum(Case When SubString(TransType, 2, 1) In ('7', '8') Then 1 Else 0 End) 
			From Ach_Batch_Select_Incoming 
			Where  TransBase = @TransBase
			
			If (@TransBase In ('VO', 'GO'))
			Begin
				Insert Into Batch (PriID, PostedDate, DebitCount, Debit, CreditCount, Credit, MerchantID, SettleDate,TransBase, ToProcessDate) Values 
				(@PriID,GetDate(),@DCount,@DebitTotal,@CCount,@CreditTotal,@MerchantID,@SettleDate,@TransBase, GetDate())
			End
			Else
			Begin
				Insert Into Batch (PriID, PostedDate, DebitCount, Debit, CreditCount, Credit, MerchantID, SettleDate, TransBase) Values 
				(@PriID,GetDate(),@DCount,@DebitTotal,@CCount,@CreditTotal,@MerchantID,@SettleDate,@TransBase)
			End

			Select @BatchID = @@Identity
			
			--Begin Case
			If (@TransBase = 'VO')
			Begin
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (101, 127) And Source = 'VO' And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID = 121 And Source  = 'VO' And DateProcessed Is Null
			End
			Else If (@TransBase = 'GO')
			Begin
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (102, 128) And Source = 'GO' And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID = 122 And Source = 'GO' And DateProcessed Is Null
			End
			Else If (@TransBase In ('VA', 'VR'))
			Begin
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID = 202 Order By Secc, CompanyName, Description, DescDate
			
				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where StatusID = 202 And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 
				
				If @SettleBatchRightAway = 'Y'
				Begin
					Update IncomingTrans Set BatchID = @BatchID, StatusID = 207 Where PriID = @PriID And StatusID = 202 And Source = @TransBase And DateProcessed Is Null
				End
				Else
				Begin
					Update IncomingTrans Set BatchID = @BatchID, StatusID = 218 Where PriID = @PriID And StatusID = 202 And Source = @TransBase And DateProcessed Is Null
				End

				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (203, 208, 215, 221) And Source = @TransBase And DateProcessed Is Null
			End	
			Else If (@TransBase In ('GA', 'GR'))
			Begin
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description,  Secc,  CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID In (302, 352) Order By Secc, CompanyName, Description, DescDate
			
				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where StatusID In (302, 352) And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 

				Update IncomingTrans Set BatchID = @BatchID, StatusID = 307 Where PriID = @PriID And StatusID = 302 And Source = @TransBase And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, StatusID = 357 Where PriID = @PriID And StatusID = 352 And Source = @TransBase And DateProcessed Is Null
				Update IncomingTrans Set BatchID = @BatchID, DateProcessed = GetDate() Where PriID = @PriID And StatusID In (308, 315, 321) And Source = @TransBase And DateProcessed Is Null
			End
			Else
			Begin
				Truncate Table Ach_Batch_FileBatchID
				Insert Into Ach_Batch_FileBatchID (DescDate, Description, Secc, CompanyName) Select Distinct DescDate, Description,  Secc,  CompanyName From Ach_Batch_Select_Incoming Where StatusID = 2 Order By Secc, CompanyName, Description, DescDate

				--Create batchdetail records
				Insert Into BatchDetail (InTransID, OverItemAmount, Line_no, BatchID, BankID, Source, FileBatchID) 
				Select a.IntransID, 0, 0, @BatchID, @BankID, 'C', b.FileBatchID 
				From Ach_Batch_Select_Incoming a 
					Inner join Ach_Batch_FileBatchID b On a.DescDate = b.DescDate And a.Description = b.Description And a.Secc = b.Secc And  a.CompanyName = b.CompanyName 
				Where StatusID = 2 And Not Exists (Select 'x' From BatchDetail Where BatchDetail.IntransID = a.IntransID And Source = 'C') Order By B.FileBatchID 
				
				If (@SettleBatchRightAway = 'Y')
				Begin
					Update IncomingTrans Set BatchID = @BatchID, StatusID = 7 Where PriID = @PriID And StatusID = 2 And Source = @TransBase And DateProcessed Is Null
				End
				Else
				Begin
					Update IncomingTrans Set BatchID = @BatchID, StatusID = 17 Where PriID = @PriID And StatusID = 2 And Source = @TransBase And DateProcessed Is Null
				End
				
				Update Returns Set BatchID = @BatchID Where IntransID In (Select IntransID From Ach_Batch_Select_Incoming Where PriID = @PriID And StatusID Not In (2) And Source = @TransBase)
			End
			--End Case
							
			Update [NB-Red].Central.dbo.Merchants Set MonthlyAchTotal = MonthlyAchTotal + @DebitTotal Where MerchantID = @MerchantID
			Update BatchDetail Set Source = 'C' Where BatchID = @BatchID
			/*** Begin Managed Processed Merchants ***/
			If (Exists(Select * From AcHDailyProcessForMerchants Where PriID =  @PriID And ProcessDate = Convert(Varchar,GetDate(),101) And Processed = 'N'))
			Begin
				Update AcHDailyProcessForMerchants Set BatchID = @BatchID Where PriID = @PriID And ProcessDate = Convert(Varchar,GetDate(),101)
			End
			Else
			Begin
				Insert Into AcHDailyProcessForMerchants (PriID, ProcessDate, BatchID) Values (@PriID, Convert(Varchar,GetDate(),101),@BatchID )
			End
		End
		Fetch Next From cur2 Into @TransBase
	End
	
	Close cur2
	Deallocate cur2
End

Error_Handler:
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

