SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

ALTER  PROCEDURE dbo.Ach_Batch_Apply_Rules 
	@Source Nvarchar(2) Output,	
	@BankID Int,
	@PriID Int
	
AS

Declare @AchDescrp Nvarchar(10), @IsThisHoldDayOrPaidOutDay Nvarchar(50), @Secc Nvarchar(3), @Active Bit, @AchCoName Nvarchar(40)
Declare @NCT Nvarchar(3)

Select @AchDescrp = AchDescrp, @Secc = Secc, @Active = Active, @AchCoName = AchCoName, @IsThisHoldDayOrPaidOutDay = IsThisHoldDayOrPaidOutDay From AchMerchAddl With (NoLock) Where PriID = @PriID
If (@IsThisHoldDayOrPaidOutDay In ('B','P','C'))
Begin
	If (@PriID = 3804)
		Update IncomingTrans Set Description = @AchDescrp, CompanyName = @AchCoName Where PriID = 3804 And StatusID = 2
	Else If (@PriID = 4822)
		Update IncomingTrans Set Description = @AchDescrp, Secc = 'C', Source = 'TC' Where PriID In (4822) And StatusID = 2 And Secc <> 'C' And TransType In ('27', '37')
	Else If (@PriID IN (5364, 5564, 5425, 5620, 5914, 5006))
		Update IncomingTrans Set Description = @AchDescrp, Secc = 'T', Source = 'TC' Where PriID In (5364, 5564, 5425, 5620, 5914, 5006) And StatusID = 2 And TransType In ('27', '37')
	Else
		Update IncomingTrans Set Description = @AchDescrp, Secc = 'T', Source = 'DF', StatusID = 60 Where PriID = @PriID And StatusID = 2 And Secc In ('B', 'C', 'T') And TransType in ('27', '37')
End	
Else
Begin
	Update IncomingTrans Set Description = @AchDescrp Where PriID = @PriID And (Description Is Null Or Len(Description) = 0)
	If (@Secc = 'PPD')
		Update IncomingTrans Set Secc = 'C' Where PriID = @PriID And (Secc Is Null Or Len(Secc) = 0)
	If (@Secc = 'CCD')
		Update IncomingTrans Set Secc = 'B' Where PriID = @PriID And (Secc Is Null Or Len(Secc) = 0)
	If (@IsThisHoldDayOrPaidOutDay <> 'N')
	Begin
		If (@Active = 0)
			Update IncomingTrans Set StatusID = 3 Where PriID = @PriID And StatusID = 2
		Else
			Update IncomingTrans Set TransType = '28' Where PriID = @PriID And Amount = 0.00 And SubString(TransType, 2, 1) <> '8'
	End	
End

Update IncomingTrans Set Source = 'TC' Where StatusID = 2 And (Source Is Null Or Source = '') And PriID = @PriID

If (@BankID = 6 Or @BankID = 7)
	Select @Source = 'TC'
Else If (@BankID = 10)
	Select @Source = 'VA'
Else If (@BankID = 14)
	Select @Source = 'VA'
Else If (@BankID = 11 Or @BankID = 12)
Begin
	Select @NCT = Isnull(NCT,'') From [NB-Red].Central.dbo.Merchants Where PriID = @PriID
	If (@NCT = 'PRI')
	  	Select @Source = 'VA'
	Else
	  	Select @Source = 'TC'
	
	If (@Source = 'TC')
	Begin
		If (Exists(Select Source From IncomingTrans With (NoLock) Where StatusID in (2, 11, 101, 102, 202, 302, 352) And PriID = @PriID Group By Source Having Source In ('VO','GO','VA','GA','VR','GR')))
			Select @Source = 'NA'
		Else
			Select @Source = 'TC'
	End 		
End

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

