SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


ALTER  Procedure dbo.Ach_GetHoldToReleaseDate2
	@HoldToRelease SmallDateTime Output,
	@CurrentDate SmallDateTime
As

Declare @j Int, @i Int

Select @HoldToRelease = @CurrentDate + 1

Select @j = 0
While (@j = 0)
Begin
	If (DatePart(DW,@HoldToRelease) = 1 Or DatePart(DW,@HoldToRelease) = 7)
	Begin
	 	Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)
	  	Select @j = 0
	End
	Else
	Begin
	  	If (Exists(Select Holiday From Holidays With (NoLock) Where Holiday = Convert(Varchar,@HoldToRelease,101)))
		Begin
			Select @HoldToRelease = DateAdd(Day, 1, @HoldToRelease)
			Select @j = 0
		End
		Else
		Begin
	     		Select @j = 1
		End
	End
End
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

