SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


ALTER  Procedure dbo.Ach_GetReservedToReleaseDate 
	@ReservedToRelease SmallDateTime Output

AS


Declare @CurrentDate SmallDateTime
Declare @j Int
Declare @n Int

Select @CurrentDate = Convert(Varchar,GetDate(),101)

Select @ReservedToRelease = DateAdd(Day,1,@CurrentDate)
Select @j = 1, @n = 1

While (@n < 3 or @j = 0)
Begin
	If (DatePart(DW,@ReservedToRelease) = 1 Or DatePart(DW,@ReservedToRelease) = 7)
	Begin
		Select @ReservedToRelease = @ReservedToRelease + 1
	  	Select @j = 0
	End
	Else
	Begin
	  	If (Exists(Select Holiday From Holidays Where Convert(Varchar,Holiday,101) = Convert(Varchar,@ReservedToRelease,101)))
	 	 Begin
	     		Select @ReservedToRelease = @ReservedToRelease + 1
	     		Select @j = 0
	  	End
	  	Else
	  	Begin
                 	 If (@n < 3)
			Select @ReservedToRelease = @ReservedToRelease + 1

	     	Select @n = @n + 1			
	     	Select @j = 1
	  	End
	End
End
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

