SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


ALTER  Procedure dbo.Ach_Journal_HoldRelease
	@BankID Int
AS

Set Nocount On

Declare 	@JournalIDIn Int, @Amount Money, @HoldID Int, @PriID Int --cursor variables
Declare 	@Available Money, @MerchType Nvarchar(2),
		 	@PriIDL Int,@ReleaseTotal Money, @OkToPostPending Int, @NewRoutineNo NVarchar(9),
			@HoldToRelease SmallDateTime, @CurrentDate SmallDateTime,
			@RefID Int, @PendingID Int, @NameOnAcct Nvarchar(25),
			@LastJournalID Int, @BatchID Int, @EntryDescription Nvarchar(60),
			@TransRoute Nvarchar(9), @AccountNo Nvarchar(17), @JournalAmount Money
			
Select @CurrentDate = GetDate(), @OkToPostPending = 1

Select @PriIDL = 0
Select @Available = 0
Select @ReleaseTotal = 0
Select @HoldID = 0
Select @JournalIDIn = 0

If (@BankID Not In (6,10,14))
Begin
	Exec Ach_GetHoldToReleaseDate2 @HoldToRelease Output,@CurrentDate

	DECLARE cur CURSOR READ_ONLY FOR 
		Select A.JournalIDIn, A.Amount, A.HoldID, A.PriID 
		From Hold A With (NoLock), AchMerchAddl B With (NoLock) 
		Where A.Type = 'H' And A.DatePaid Is Null And A.PriID < 5999 And A.PriID = B.PriID 
				And B.StopEFTFrom = 'N' And B.IsThisHoldDayOrPaidOutDay = 'H' 
				And A.DateToRelease <= @HoldToRelease And B.BankID = @BankID Order By A.PriID

	Open cur
	
	Fetch Next From cur Into @JournalIDIn, @Amount, @HoldID, @PriID
	While (@@fetch_status <> -1)
	Begin
		If (@@fetch_status <> -2)
		Begin
			--Reset Variables
			Select @MerchType = 'TC', @RefID = ''
			
			Select @RefID = Isnull(RefID,'') From Journal With (NoLock) Where JournalID = @JournalIDIn And PriID = @PriID
			
			If (@PriID = 509 And @RefID = 0)
				Select @MerchType = 'TC'
			Else
			Begin
				Select @MerchType = IsNull(TransBase,'TC') From Batch With (NoLock) Where BatchID = @RefID And PriID = @PriID
				If (@@Rowcount = 0)
					Select @MerchType = 'TC'
			End 

			If (@MerchType Not In ('VA','GA','VR','GR','GO','VO'))
			Begin
				If (@PriIDL <> @PriID)
				Begin
					If ((@ReleaseTotal + @Available) > 0 And @OkToPostPending = 0)
					Begin
						Select @EntryDescription =  'EFT TO ' + Rtrim(@TransRoute) + ':' + Rtrim(@AccountNo)
						Select @JournalAmount = -1 * (@ReleaseTotal + @Available)
						Exec Ach_Journal_Post @CurrentDate,@BatchID,@PriIDL,@EntryDescription,'P',@JournalAmount,0,0
						Select @LastJournalID = @@Identity
					
						If (@PriIDL = 3192)
								Insert Into Pending (PriID, PostedDate, TransType, Amount, JournalID, Description, Type, TransRoute, AccountNo, NameOnAcct) 
								Values (@PriIDL, GetDate(), '32',@ReleaseTotal + @Available,@LastJournalID, 'HOLD RELEA', 'J',@TransRoute,@AccountNo,@NameOnAcct)
						Else
								Insert Into Pending (PriID, PostedDate, TransType, Amount, JournalID, Description, Type, TransRoute, AccountNo, NameOnAcct) 
								Values (@PriIDL, GetDate(), '22',@ReleaseTotal + @Available,@LastJournalID, 'HOLD RELEA', 'J',@TransRoute,@AccountNo,@NameOnAcct)
						
						Select @PendingID = @@Identity
						Update Journal Set RefID = @PendingID Where JournalID = @LastJournalID
						Update AchMerchAddl Set Balance = Balance - @ReleaseTotal + @Available Where PriID = @PriIDL
						Select @PriIDL = @PriID
					End
					Else
					Begin
						Select @PriIDL = @PriID
					End
					
					Select 
						@NameOnAcct = IsNull(dfiacctname,Replicate(' ',25)), 
						@TransRoute = IsNull(transroute,Replicate(' ',9)), 
						@AccountNo = IsNull(AccountNo,Replicate(' ',17)) 
					From AchMerchAddl With (NoLock) Where PriID = @PriIDL
					
					If (Exists(Select NewRoutineNo From BankRoutineNo With (NoLock) Where RoutineNumber = @TransRoute And OkToAch = 'Y'))
					Begin
						Select @NewRoutineNo = NewRoutineNo From BankRoutineNo With (NoLock) Where RoutineNumber = @TransRoute And OkToAch = 'Y'
						If (Ltrim(Rtrim(@AccountNo)) = '')
							Select @OkToPostPending = 1
						Else
						Begin
							Select @OkToPostPending = 0
							If @NewRoutineNo <> '000000000'
								Select @TransRoute = @NewRoutineNo
						End
						End
					Else
					Begin
						Select @OkToPostPending = 1
					End
					Select @Available = Isnull(Sum(Amount),0) From Journal With (NoLock) Where PriID = @PriIDL And RefCode In ('B', 'V', 'H', 'X', 'F', 'R','C', 'P', 'N', 'E', 'Z')
				
					Select @ReleaseTotal = 0
				End
			End
			
			If (@OkToPostPending = 0)
			Begin
				Select @EntryDescription =  'Release of Funds On Hold'
				Select @JournalAmount = @Amount
				Select @ReleaseTotal = @ReleaseTotal + @Amount
				Exec Ach_Journal_Post @CurrentDate,@JournalIDIn,@PriID,@EntryDescription,'X',@JournalAmount,@HoldID,0
				Select @LastJournalID = @@Identity

				Update Hold Set Datepaid = GetDate(), JournalIDPaid = @LastJournalID Where HoldID = @HoldID				
			End
			
		End
		Fetch Next From cur Into @JournalIDIn, @Amount, @HoldID, @PriID
	End
	
	Close cur
	Deallocate cur
End

If (@OkToPostPending = 0)
Begin
	Select @MerchType = 'TC', @RefID = ''
	
	Select @RefID = RefID From Journal With (NoLock) Where JournalID = @JournalIDIn And PriID = @PriID
	
	Select @MerchType = IsNull(TransBase,'TC') From Batch With (NoLock) Where BatchID = @RefID And PriID = @PriID

	If (@MerchType Not In ('VA','GA','VR','GR','GO','VO'))
	Begin
		If ((@ReleaseTotal + @Available > 0) And @OkToPostPending = 0)
		Begin
			Select @EntryDescription =  'EFT TO ' + Rtrim(@TransRoute) + ':' + Rtrim(@AccountNo)
			Select @JournalAmount = -1 * (@ReleaseTotal + @Available)
			Exec Ach_Journal_Post @CurrentDate,@BatchID,@PriIDL,@EntryDescription,'P',@JournalAmount,0,0
			Select @LastJournalID = @@Identity
		
			Insert Into Pending (PriID, PostedDate, TransType, Amount, JournalID, Description, Type, TransRoute, AccountNo, NameOnAcct) 
			Values (@PriIDL, GetDate(), '22',@ReleaseTotal + @Available,@LastJournalID, 'HOLD RELEA', 'J',@TransRoute,@AccountNo,@NameOnAcct)
			
			Select @PendingID = @@Identity
			Update Journal Set RefID = @PendingID Where JournalID = @LastJournalID
			Update AchMerchAddl Set Balance = Balance - @ReleaseTotal + @Available Where PriID = @PriIDL
		End
	End
End


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

