<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- test 
		<add key="FtpPath" value="C:\Dev\ACH\FTP Directories\FTPCentral\"/>
		<add key="ArchivePath" value="C:\Dev\ACH\FTP Directories\TransCentral\"/>
		<add key="SettlementFileFTPPath" value="C:\Dev\ACH\FTP Directories\SettlementFile\"/>
		<add key="SettlementFileArchivePath" value="C:\Dev\ACH\FTP Directories\SettlementFileOld\"/>
		<add key="ReturnFileFTPPath" value="C:\Dev\ACH\FTP Directories\ReturnFile\"/>
		<add key="ReturnFileArchivePath" value="C:\Dev\ACH\FTP Directories\ReturnFileOld\"/>
		<add key="InfragisticsChartImages" value="C:\Dev\ACH\FTP Directories\ChartImages1\;C:\Dev\ACH\FTP Directories\ChartImages2\"/>
		<add key="LogFilePath"  value="C:\Log\FileArchivingSystem\"/>-->


		<!-- Production -->
		<add key="FtpPath" value="\\mpssftp2\Transcentral\"/>
		<add key="ArchivePath" value="\\snaprdsch01\TransCentral\"/>
		<add key="SettlementFileFTPPath" value="\\MPSGATEWAY2\Ach\BankFiles\SettlementFile\"/>
		<add key="ReturnFileFTPPath" value="\\MPSGATEWAY2\Ach\BankFiles\ReturnFile\"/>
		<add key="SettlementFileArchivePath" value="\\MPSGATEWAY2\Ach\BankFilesArchive\SettlementFile\"/>
		<add key="ReturnFileArchivePath" value="\\MPSGATEWAY2\Ach\BankFilesArchive\ReturnFile\"/>
		<add key="InfragisticsChartImages" value="\\mpsteal\ChartImages\"/>
		<add key="LogFilePath" value="C:\Log\FileArchivingSystem\"/>



		<add key="PublicKey" value="C:\PGPKeys\pubring.pkr"/>
		<add key="SecretKey" value="C:\PGPKeys\secring.skr"/>
		<add key="DaysToArchiveMerchantFolders" value="-1"/>
		<add key="DaysToArchiveOtherFolders" value="-2"/>
		<add key="SMTPServer" value="dbsmtp"/>
		<add key="SMTPUser" value=""/>
		<add key="SMTPPassword" value=""/>
		<add key="SMTPPort" value=""/>
		<add key="EmailFrom" value="mnguyen@merituspayment.com"/>
		<add key="EmailTo" value="mnguyen@merituspayment.com"/>





	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
