<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="EmailFrom" value="PRIReturnFileWatcher@merituspayment.com"/>
		<add key="EmailTo" value="mnguyen@merituspayment.com"/>
		<add key="EmailToError" value="mnguyen@merituspayment.com"/>
		<add key="PublicKey" value="C:\PGPKeys\pubring.pkr"/>
		<add key="SecretKey" value="C:\PGPKeys\secring.skr"/>
		<add key="SMTPServer" value="10.0.0.54"/>

		<!-- Test 
	<add key="ConnectSQLAch" value="Data Source=Desktop29\sql2000;Initial Catalog=Ach;User ID=app_ach;password=itdoesabodygood;"/>
<add key="FtpPath" value="\\Web3\TransCentral\"/>
<add key="ArchivePath" value="\\NMCData\TransCentral\"/>
-->

	<!-- Production -->
	<add key="ConnectSQLAch" value="Data Source=SQL;Initial Catalog=Ach;User ID=app_ach;password=itdoesabodygood;"/>
	<add key="FtpPath" value="\\Web3\TransCentral\"/>
		<add key="ArchivePath" value="\\NMCData\TransCentral\"/>
	</appSettings>


</configuration>